<?php $customerData = Mage::getSingleton( 'customer/session' )->getCustomer(); ?>

<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"/>
<script type="text/javascript">

	jQuery(function () {

		var dialog,
			form;

		jQuery("#tabs").tabs();
		jQuery("#tabs-saved-reports").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
		jQuery("#tabs-saved-reports li").removeClass("ui-corner-top").addClass("ui-corner-left");

		jQuery("#tabs-reports").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
		jQuery("#tabs-reports li").removeClass("ui-corner-top").addClass("ui-corner-left");

		jQuery(".sortable-list").sortable();

		jQuery(".datepicker").datepicker();
		var d = new Date();
		jQuery("#date_range_end").datepicker("setDate", new Date(d.getFullYear(), d.getMonth(), d.getDate() + 1));
		jQuery("#date_range_start").datepicker("setDate", new Date(d.getFullYear(), d.getMonth() - 1, d.getDate()));

		jQuery(".tab-main-li").on('click', function (e) {
			if (jQuery(this).hasClass('save-reports')) {
				jQuery('#save-report-button span span').text('Save Report');
			} else {
				jQuery('#save-report-button span span').text('Save New Report');
			}
		});

		dialog = jQuery("#dialog-form").dialog({
			autoOpen: false,
			height: 'auto',
			width: 350,
			modal: true,
			buttons: {
				"Save": saveReporttoDB,
				Cancel: function () {
					dialog.dialog("close");
				}
			},
			close: function () {
				form[0].reset();
				jQuery("#report_name").removeClass("ui-state-error");
			}
		});

		form = dialog.find("form").on("submit", function (event) {
			event.preventDefault();
			saveReporttoDB();
		});

		jQuery("#save-report-button").on("click", function () {
			dialog.dialog("open");
		});

		jQuery("#export-report-csv-button").on("click", exportCSVReport);

		jQuery("#export-report-xml-button").on("click", exportXMLReport);

		function getAllFormFieldsString() {
			var params = "";
			jQuery("div.ui-tabs-panel[aria-hidden='false'] div.vertical-tabs-content[aria-hidden='false'] form [type=checkbox]").each(function () {

				params += jQuery(this).attr('name') + ",";
			});

			params = params.replace(/,\s*$/, "");
			return params;
		}

		function getFormFieldsString() {
			var params = "";
			jQuery("div.ui-tabs-panel[aria-hidden='false'] div.vertical-tabs-content[aria-hidden='false'] form :checkbox:checked").each(function () {
				params += jQuery(this).val() + ",";
			});

			params = params.replace(/,\s*$/, "");
			return params;
		}

		function getFormFields() {

			var params = "";
			jQuery("div.ui-tabs-panel[aria-hidden='false'] div.vertical-tabs-content[aria-hidden='false'] form :checkbox:checked").each(function () {
				params += "&attributesToSelect[]=" + jQuery(this).val();
			});

			params += "&date_range_start=" + jQuery('#date_range_start').val();
			params += "&date_range_end=" + jQuery('#date_range_end').val();

			return params;
		}

		/**
		 * Export CSV
		 */
		function exportCSVReport() {
			var parameters = '?key=' + jQuery("#tabs div.vertical-tabs-content[aria-hidden='false'] form").data("key") + getFormFields();

			new Ajax.Request('<?php echo Mage::getUrl( 'reports/index/ExportCSV' ); ?>', {
				method: 'GET',
				onSuccess: function () {
					// This is required to get the file to actually download
					window.location = '<?php echo Mage::getUrl( 'reports/index/ExportCsv' ); ?>' + parameters;

				}
			});
		}

		/**
		 * Export XML file
		 */
		function exportXMLReport() {
			var parameters = '?key=' + jQuery("#tabs div.vertical-tabs-content[aria-hidden='false'] form").data("key") + getFormFields();

			new Ajax.Request('<?php echo Mage::getUrl( 'reports/index/ExportXml' ); ?>', {
				method: 'GET',
				onSuccess: function () {
					// This is required to get the file to actually download
					window.location = '<?php echo Mage::getUrl( 'reports/index/ExportXml' ); ?>' + parameters;
				}
			});
		}

		function saveReport() {
			dialog.dialog("open");
		}

		function saveReporttoDB() {

			var customer_id = <?php echo $customerData->getId(); ?>,
				name = jQuery("#report_name").val(),
				id;

			if(jQuery(".save-reports").hasClass("ui-state-active")) {
				id = jQuery("#tabs #tabs-saved-reports div.vertical-tabs-content[aria-hidden='false'] form").data("reportid");
			}
			console.log(id);
			if (name) {
				dialog.dialog("close");

				jQuery.ajax({
					url: '<?php echo Mage::getUrl( 'reports/index/SaveReport' ); ?>',
					type: 'POST',
					data: {
						id: id,
						customer_id: customer_id,
						name: name,
						base_key: jQuery("#tabs div.vertical-tabs-content[aria-hidden='false'] form").data("key"),
						attributes: getAllFormFieldsString(),
						attributesToSelect: getFormFieldsString(),
						date_range_start: jQuery('#date_range_start').val(),
						date_range_end: jQuery('#date_range_end').val()
					},
					success: function (data) {
						// refresh the page
						 window.location = '<?php echo Mage::getUrl( 'reports/index' ); ?>';
					}
				});
			} else {
				name.addClass('ui-state-error');
			}
		}


		getFormFields();
	});
</script>

<?php echo $this->getMessagesBlock()->toHtml() ?>

<div id="dialog-form" title="Save Report">
	<form>
		<fieldset>
			<label for="name">Report Name</label>
			<input type="text" name="report_name" id="report_name" value=""
			       class="text ui-widget-content ui-corner-all">

			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
		</fieldset>
	</form>
</div>

<div class="page-title">
	<h1><?php echo $this->__( 'Reports' ) ?></h1>
	<?php

	$orderFields          = array(
		"entity_id",
		"increment_id",
		"store_id",
		"store_name",
		"state",
		"status",
		//"quote_id",
		"created_at",
		//"updated_at",
		"customer_group_id",
		"customer",
		"customer_email",
		"customer_firstname",
		"customer_lastname",
		//"customer_middlename",
		//"customer_prefix",
		//"customer_suffix",
		//"customer_taxvat",
		"billing_address",
		"shipping_address",
		//"base_subtotal",
		//"base_shipping_amount",
		//"base_shipping_tax_amount",
		//"base_grand_total",
		//"base_subtotal_invoiced",
		//"base_shipping_invoiced",
		//"base_total_invoiced",
		"subtotal",
		"shipping_amount",
		"grand_total",
		//"subtotal_invoiced",
		//"shipping_invoiced",
		"total_invoiced",
		"total_due",
		"total_paid",
		//"coupon_code",
		// "protect_code",
		"shipping_description",
		"shipping_method",
		//"is_virtual",
		// "base_discount_amount",
		// "base_discount_canceled",
		// "base_discount_invoiced",
		// "base_discount_refunded",
		// "base_shipping_canceled",
		// "base_shipping_refunded",
		// "base_shipping_tax_refunded",
		// "base_subtotal_canceled",
		// "base_subtotal_refunded",
		// "base_tax_amount",
		// "base_tax_canceled",
		// "base_tax_invoiced",
		// "base_tax_refunded",
		// "base_to_global_rate",
		// "base_to_order_rate",
		// "base_total_canceled",
		// "base_total_invoiced_cost",
		// "base_total_offline_refunded",
		// "base_total_online_refunded",
		// "base_total_paid",
		// "base_total_qty_ordered",
		// "base_total_refunded",
		// "discount_amount",
		// "discount_canceled",
		// "discount_invoiced",
		// "discount_refunded",
		// "shipping_canceled",
		// "shipping_refunded",
		// "shipping_tax_amount",
		// "shipping_tax_refunded",
		// "store_to_base_rate",
		// "store_to_order_rate",
		// "subtotal_canceled",
		// "subtotal_refunded",
		 "tax_amount",
		// "tax_canceled",
		// "tax_invoiced",
		// "tax_refunded",
		// "total_canceled",
		// "total_offline_refunded",
		// "total_online_refunded",
		"total_qty_ordered",
		"total_item_count",
		// "total_refunded",
		// "can_ship_partially",
		// "can_ship_partially_item",
		// "customer_is_guest",
		// "customer_note_notify",
		// "edit_increment",
		//"email_sent",
		// "forced_shipment_with_invoice",
		//"payment_auth_expiration",
		// "quote_address_id",
		// "adjustment_negative",
		// "adjustment_positive",
		// "base_adjustment_negative",
		// "base_adjustment_positive",
		// "base_shipping_discount_amount",
		// "base_subtotal_incl_tax",
		// "base_total_due",
		// "payment_authorization_amount",
		// "shipping_discount_amount",
		// "subtotal_incl_tax",
		"weight",
		// "customer_dob",
		// "applied_rule_ids",
		// "base_currency_code",
		// "discount_description",
		// "ext_customer_id",
		// "ext_order_id",
		// "global_currency_code",
		// "hold_before_state",
		// "hold_before_status",
		// "order_currency_code",
		// "original_increment_id",
		// "relation_child_id",
		// "relation_child_real_id",
		// "relation_parent_id",
		// "relation_parent_real_id",
		//"remote_ip",
		// "store_currency_code",
		// "x_forwarded_for",
		//"customer_note"
		"reason_request"
	);
	$inventoryFields      = array(
		"entity_id",
		"fgi_number",
		"name",
		"description",
		"entity_type_id",
		"attribute_set_id",
		"type_id",
		"sku",
		"has_options",
		"required_options",
		"created_at",
		"updated_at",
		"qty"
	);
	$salesByProductFields = array(
		"ordered_qty",
		"order_items_name",
		"entity_id",
		"entity_type_id",
		"attribute_set_id",
		"type_id",
		"sku",
		"has_options",
		"required_options",
		"created_at",
		"updated_at"
	);

	$userActivityFields = array(
		"entity_id",
		"entity_type_id",
		"attribute_set_id",
		"website_id",
		"email",
		"group_id",
		"increment_id",
		"store_id",
		"created_at",
		"updated_at",
		"is_active",
		"disable_auto_group_change",
		"last_login"
	);

	$openRequisitionFields = array(
		"entity_id",
		"store_id",
		"created_at",
		"updated_at",
		"converted_at",
		"is_active",
		"is_virtual",
		"is_multi_shipping",
		"items_count",
		"items_qty",
		"orig_order_id",
		"store_to_base_rate",
		"store_to_quote_rate",
		"base_currency_code",
		"store_currency_code",
		"quote_currency_code",
		"grand_total",
		"base_grand_total",
		"checkout_method",
		"customer_id",
		"customer_tax_class_id",
		"customer_group_id",
		"customer_email",
		"customer_prefix",
		"customer_firstname",
		"customer_middlename",
		"customer_lastname",
		"customer_suffix",
		"customer_dob",
		"customer_note",
		"customer_note_notify",
		"customer_is_guest",
		"remote_ip",
		"applied_rule_ids",
		"reserved_order_id",
		"password_hash",
		"coupon_code",
		"global_currency_code",
		"base_to_global_rate",
		"base_to_quote_rate",
		"customer_taxvat",
		"customer_gender",
		"subtotal",
		"base_subtotal",
		"subtotal_with_discount",
		"base_subtotal_with_discount",
		"is_changed",
		"trigger_recollect",
		"ext_shipping_info",
		"gift_message_id",
		"is_persistent",
		"approval_state",
		"approval_reject_note",
		"approval_is_requisition",
		"approval_approved_by_id",
		"approval_approve_note",
		"approval_approved_items",
		"approval_rejected_items",
		"reason_request"

	);

	//	name, key, fields, checked
	$reports = array(
		0 => array(
			'name'   => "Orders",
			'key'    => "orders",
			'fields' => $orderFields
		),
		1 => array(
			'name'   => "Inventory Levels",
			'key'    => "inventoryLevels",
			'fields' => $inventoryFields
		),
		2 => array(
			'name'   => "Sales by Product",
			'key'    => "salesByProduct",
			'fields' => $salesByProductFields
		),
		3 => array(
			'name'   => "User Activity",
			'key'    => "userActivity",
			'fields' => $userActivityFields
		),
		4 => array(
			'name'   => "Open Requisitions",
			'key'    => "openRequisitions",
			'fields' => $openRequisitionFields
		)
	);
	?>

</div>
<div id="tabs">
	<ul>
		<li class="tab-main-li"><a href="#tabs-1"><?php echo $this->__( 'Reports' ) ?></a></li>
		<li class="tab-main-li save-reports"><a href="#tabs-2"><?php echo $this->__( 'Saved Reports' ) ?></a></li>
	</ul>
	<div id="tabs-1">
		<div id="tabs-reports" class="vertical-tabs">
			<ul class="vertical-tabs-tabs">
				<?php
				$loop_count = 0;
				foreach ( $reports as $report ): ?>
					<li><a href="#tabs-reports-<?php echo $loop_count; ?>"><?php echo $report['name']; ?></a></li>
					<?php
					$loop_count ++;
				endforeach;
				?>
			</ul>
			<?php
			$loop_count = 0;
			foreach ( $reports as $report ):
				?>
				<div id="tabs-reports-<?php echo $loop_count; ?>" class="vertical-tabs-content">
					<form data-key="<?php echo $report['key']; ?>">
						<ul class="sortable-list">
							<?php foreach ( $report['fields'] as $field ): ?>
								<li>
									<input type="checkbox" class="report-checkbox" checked name="<?php echo $field; ?>"
									       id="<?php echo $field; ?>" value="<?php echo $field; ?>"/>
									<label
										for="<?php echo $field; ?>"><?php echo ucwords( str_replace( "_", " ", $field ) ); ?></label>
								</li>
							<?php endforeach; ?>
						</ul>
					</form>
				</div>
				<?php
				$loop_count ++;
			endforeach;
			?>
		</div>
	</div>
	<?php
	$reports = Mage::getModel( 'rocketbuild_reports/myreports' )->getCollection()->addFieldToFilter( 'customer_id', $customerData->getId() )->getData();
	?>
	<div id="tabs-2">
		<div id="tabs-saved-reports" class="vertical-tabs">
			<ul class="vertical-tabs-tabs">
				<?php
				$loop_count = 0;
				foreach ( $reports as $report ): ?>
					<li><a href="#tabs-reports-<?php echo $loop_count; ?>"><?php echo $report['name']; ?></a></li>
					<?php
					$loop_count ++;
				endforeach;
				?>
			</ul>
			<?php
			$loop_count = 0;
			foreach ( $reports as $report ):
				$attributes = explode( ",", $report['attributes'] );
				?>
				<div id="tabs-reports-<?php echo $loop_count; ?>" class="vertical-tabs-content">
					<form data-key="<?php echo $report['base_key']; ?>" data-reportid="<?php echo $report['id']; ?>">
						<ul>
							<?php
								foreach ( $attributes as $field ):
									$checked = "";
									$stringPos = strpos($report['checked_attributes'], $field);
									if($stringPos !== false){
										$checked = "checked";
									}
									?>
								<li>
									<input type="checkbox" class="report-checkbox" <?php echo $checked; ?> name="<?php echo $field; ?>"
									       id="<?php echo $field; ?>" value="<?php echo $field; ?>"/>
									<label
										for="<?php echo $field; ?>"><?php echo ucwords( str_replace( "_", " ", $field ) ); ?></label>
								</li>
							<?php endforeach; ?>
						</ul>
					</form>
				</div>
				<?php
				$loop_count ++;
			endforeach;
			?>
		</div>
	</div>
</div>

<div id="dates-container" class="a-right">
	<span class="label">Date Range:</span>
	<label for="date_range_start" class="hide">From:</label>
	<input type="text" id="date_range_start" name="date_range_start" class="datepicker"/>
	<label for="date_range_end" id="date_range_end_label">to</label>
	<input type="text" id="date_range_end" name="date_range_end" class="datepicker"/>
</div>

<div class="a-right buttons">
	<button type="submit" id="save-report-button"
	        title="<?php echo $this->__( 'Save New Report' ) ?>" class="button f-left">
		<span><span><?php echo $this->__( 'Save New Report' ) ?></span></span></button>

	<button type="submit" id="export-report-csv-button"  title="<?php echo $this->__( 'Export CSV Report' ) ?>"
	        class="button"><span><span><?php echo $this->__( 'Export CSV' ) ?></span></span></button>
	<button type="submit" id="export-report-xml-button" title="<?php echo $this->__( 'Export XLSX Report' ) ?>"
	        class="button"><span><span><?php echo $this->__( 'Export XLSX' ) ?></span></span></button>
	<!-- <button type="submit" title="<?php echo $this->__( 'View Report' ) ?>" class="button">
		<span><span><?php echo $this->__( 'View' ) ?></span></span></button> -->
</div>
