<?php
/**
 * © 2016 CyberSource Corporation. All rights reserved. CyberSource Corporation (including its subsidiaries,
 * “CyberSource”) furnishes this code under the applicable agreement between the reader of this document
 * (“You”) and CyberSource (“Agreement”). You may use this code only in accordance with the terms of the
 * Agreement. The copyrighted code is licensed to You for use only in strict accordance with the Agreement.
 * You should read the Agreement carefully before using the code.
 */
 $_canBuy = $this->canBuy(); ?>
<?php $buttonTitle = $this->__('1-Click Buy'); ?>
<?php if($_canBuy): ?>
    <div class="add-to-cart">
        <button type="button" title="<?php echo $buttonTitle ?>" id="product-addtocart-button" class="button btn-cart" onclick="oneClick('<? echo $this->getPayUrl($this->getProductId()) ?>',$('qty').value)"><span><span><?php echo $buttonTitle ?></span></span></button>
    </div>
    <script >
        function oneClick(url,qty) {
            window.location.href = url + 'qty/'+qty;
        }
    </script>
<?php endif; ?>
