<?php
/**
 * © 2016 CyberSource Corporation. All rights reserved. CyberSource Corporation (including its subsidiaries,
 * “CyberSource”) furnishes this code under the applicable agreement between the reader of this document
 * (“You”) and CyberSource (“Agreement”). You may use this code only in accordance with the terms of the
 * Agreement. The copyrighted code is licensed to You for use only in strict accordance with the Agreement.
 * You should read the Agreement carefully before using the code.
 */

/** @var $this Cybersourcesop_Block_Token */
?>
<script type="text/javascript">
    Validation.add('validate-cc-type', 'Credit card number does not match credit card type.', function(v) {
        // remove credit card number delimiters such as "-" and space
        v         = removeDelimiters(v);
        var ccTypeContainer = $('cc-type-number');
        if (!ccTypeContainer) {
            return true;
        }
        var ccType = ccTypeContainer.value;
        if (typeof Validation.creditCardTypes.get(ccType) == 'undefined') {
            return false;
        }
        if(Validation.creditCardTypes.get(ccType).length<1){
            return false;
        }
        // Other card type or switch or solo card
        if (Validation.creditCardTypes.get(ccType)[0]==false) {
            return true;
        }

        // Matched credit card type
        var ccMatchedType = '';
        var myreturn = false;
        Validation.creditCardTypes.each(function (pair) {
            if (pair.value[0] && v.match(pair.value[0])) {
                ccMatchedType = pair.key;
                //if it matches any of the expressions that are assigned to this card type
                if(ccMatchedType == ccType)
                {
                    myreturn = true;
                }
            }
        });

        if (ccTypeContainer.hasClassName('validation-failed') && Validation.isOnChange) {
            Validation.validate(ccTypeContainer);
        }
        return myreturn;
    });
    //amended java script validation for the cybersource credit card types
    Validation.creditCardTypes = $H({
        <?php echo $this->getLayout()->getBlockSingleton('cybersourcesop/form_pay')->getCardsRegex();?>
   });
    //]]>
</script>
<?php $tokenEnabled=$this->isTokenisationEnabled();
      $ccBlock = $this->getLayout()->getBlockSingleton('cybersourcesop/form_pay');
?>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<div class="page-title">
    <h1><?php echo $this->__('My Saved Cards') ?></h1>
</div>
<?php if ($this->getCollection() && $this->count()): ?>
    <?php if($this->isWebMobileEnabled()) : ?>
        <form  id="tokenForm" action="<?php echo $this->getSaveDefaultUrl() ?>">
            <table class="data-table" id="my-apps-table">
                <col />
                <col width="100" align="right" />
                <col width="110" align="right" />
                <thead>
                <tr>
                    <th><?php echo $this->__('Card Number') ?></th>
                    <th><?php echo $this->__('Expiry Date') ?></th>
                    <th><?php echo $this->__('Type') ?></th>
                    <?php if($tokenEnabled): ?>
                        <th align="right"><?php echo $this->__('Action') ?></th>
                    <?php endif;?>
                    <th>Set as Default</th>
                </tr>
                </thead>
                <tbody>
                <?php /** @var $item Cybersourcesop_Model_Token */?>
                <?php foreach ($this->getCollection() as $item) :?>
                    <tr>
                        <td><span class="app-name"><?php echo $this->escapeHtml($item->getCcNumber()); ?></span></td>
                        <td><?php echo $this->escapeHtml($item->getCcExpiration()); ?></td>
                        <td><em><?php echo $this->escapeHtml($this->getCcType($item->getCcType())) ?></em></td>
                        <?php if($tokenEnabled): ?>
                            <td>
                                <a href="<?php echo $this->getDeleteLink($item)?>" class="nobr" onclick="return confirm('<?php echo $this->__('Are you sure you want to delete this card?') ?>')"><?php echo $this->__('Delete') ?></a>
                            </td>
                        <?php endif;?>
                        <td><input type="checkbox" id="is_default" onclick="deselectCheckboxes(this);" name="checkbox[<?php echo $item->getId() ?>]" /><?php echo ((int)$item->getIsDefault()?$this->__(' Default'):'') ?> <input type="hidden" value="<?php echo $item->getTokenId() ?>" name="token[<?php echo $item->getId() ?>]"/></td>

                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
            <div class="add-to-cart">
                <div class="row">
                    <button class="button btn-add"><span>Save Default Card</span></button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            //<![CDATA[
            decorateTable('my-apps-table');
            function deselectCheckboxes(elm) {
                var checkboxes = $$("#is_default");
                checkboxes.each(function(box){
                    if (box.checked) {
                        box.checked = 0;
                    }
                });
                elm.checked=1;
            }
            //]]>
        </script>
    <?php else: ?>
        <table class="data-table" id="my-apps-table">
            <col />
            <col width="100" align="right" />
            <col width="110" align="right" />
            <thead>
            <tr>
                <th><?php echo $this->__('Card Number') ?></th>
                <th><?php echo $this->__('Expiry Date') ?></th>
                <th><?php echo $this->__('Type') ?></th>
                <?php if($tokenEnabled): ?>
                    <th align="right" colspan="2"><?php echo $this->__('Action') ?></th>
                <?php endif;?>
            </tr>
            </thead>
            <tbody>
            <?php /** @var $item Cybersourcesop_Model_Token */?>
            <?php foreach ($this->getCollection() as $item) :?>
                <tr id="not-selected">
                    <td><span class="app-name"><?php echo $this->escapeHtml($item->getCcNumber()); ?></span></td>
                    <td><?php echo $this->escapeHtml($item->getCcExpiration()); ?></td>
                    <td><em><?php echo $this->escapeHtml($this->getCcType($item->getCcType())) ?></em></td>
                    <?php if($tokenEnabled): ?>
                        <td>
                            <a href="<?php echo $this->getDeleteLink($item)?>" class="nobr" onclick="return confirm('<?php echo $this->__('Are you sure you want to delete this card?') ?>')"><?php echo $this->__('Delete') ?></a>
                        </td>
                        <td>
                            <input type="checkbox" id="card-to-update" onclick="changeFormURL(this);" name="<?php echo $item->getId() ?>" /> <?php echo $this->__('Update') ?>
                            <input type="hidden" value="<?php echo $item->getTokenId() ?>" name="token[<?php echo $item->getId() ?>]"/>
                            <input type="hidden" value="<?php echo $item->getCcType() ?>" id="cc-type[<?php echo $item->getId() ?>]"/>
                        </td>
                    <?php endif; ?>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <form  method="post" id="update-card-Form"  style="visibility: hidden" action="<?php echo $this->getUrl('cybersourcesop/index/update'); ?>">
            <table class="data-table" id="my-apps-table">
                <tbody>
                    <tr>
                        <td><?php echo $this->__('Card Number')?> <em>*</em></td>
                        <td><input type="text" id="card-number"  name="cardnumber"  class="input-text validate-cc-number validate-cc-type required-entry" autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><?php echo $this->__('Expiration Date')?></td>
                    </tr>
                    <tr>
                        <td><?php echo $this->__('Month (MM)')?> <em>*</em></td>
                        <td>
                            <select id="card_expiration_month" name="month" class="month validate-cc-exp required-entry" >
                                <?php foreach ($ccBlock->getCcMonths() as $k=>$v): ?>
                                    <option value="<?php echo sprintf("%02s", $k); ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->__('Year (YYYY)')?> <em>*</em></td>
                        <td>
                            <?php $_ccExpYear = ''; ?>
                            <select id="card_expiration_yr" name="year" class="validate-cc-exp year required-entry">
                                <?php foreach ($ccBlock->getCcYears() as $k=>$v): ?>
                                    <option value="<?php echo $k?$k:'' ?>"><?php echo $v ?></option>
                                <?php endforeach ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="hidden" id="cc-type-number"     value="" name="cc-type" /></td>
                        <td><input type="hidden" id="token-id-to-update" value="" name="token_id"/></td>
                    </tr>
                </tbody>
            </table>
            <div class="add-to-cart">
                <div class="row">
                    <button class="button btn-add"><span>Update Card</span></button>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            //< ![CDATA[
            var customForm = new VarienForm('update-card-Form',true);
            //]]>
        </script>
        <script type="text/javascript">
            //<![CDATA[
            function changeFormURL(elm) {
                var cbControl = elm;
                var cardToEditRow = cbControl.parentElement.parentElement;
                cardToEditRow.id='selected';
                var rowsToHide = $$("#not-selected");
                var formToSubmit = document.getElementById("update-card-Form");
                var tokenInputField = document.getElementById("token-id-to-update");
                var ccTypeHiddenInputField = document.getElementById("cc-type["+cbControl.name+"]");
                var ccTypeInputField = document.getElementById("cc-type-number");
                if(cbControl.checked){
                    tokenInputField.value=cbControl.name;
                    ccTypeInputField.value=ccTypeHiddenInputField.value;
                    formToSubmit.style.visibility='visible';
                    rowsToHide.each(function(row){
                        row.style.display='none';
                    });
                }
                else{
                    cardToEditRow.id='not-selected';
                    formToSubmit.style.visibility='hidden';
                    rowsToHide.each(function(row){
                        row.style.display='';
                    });
                }
            }
            //]]>
        </script>
    <?php endif; ?>
<?php else: ?>
    <p><?php echo $this->__('You have no saved cards.'); ?></p>
<?php endif; ?>
