<?php
$helper = Mage::helper('designcollaboration');
$commentsCollection = $this->getComments($design->getDesignId());
?>

<div class="comments-right product-shop">
    <div class="display-flex">
        <h3>Comments</h3>
        <div class="receive-notifications">
            <input type="checkbox" <?php if ($helper->checkSubscribeNotificationByCustomer($design->getDesignId())): ?>checked="checked"<?php endif; ?> name="receive_notifications" id="receive_notifications"/>
            <label for="receive_notifications"><?php echo $this->__('Receive Notifications') ?></label>
        </div>
        <div class="loader-receive-notifications" style="display: none;"><img class="loader-notifications" src="<?php echo  Mage::getDesign()->getSkinUrl('images/ajax-loader.gif'); ?>"></div>
    </div>

    <form action="<?php echo Mage::getUrl('designcollaboration/index/addpost', array('id' => $design->getDesignId())); ?>" method="post">
        <fieldset>
                <textarea class="style-textarea" id="input-msg" name="message"></textarea>
                <div class="block-post">
                    <div class="count-chars">(<span class="counter">250</span>) <?php echo $this->__('Characters Left') ?>
                    </div>
                    <div class="buttons-set2">
                        <button class="button btn-post-disabled"
                                type="submit"
                                disabled="disabled"
                                title="<?php echo $this->__('Post') ?>">
                            <span><?php echo $this->__('Post') ?></span>
                        </button>
                    </div>
                </div>
        </fieldset>
    </form>

    <h3>Comment History</h3>
    <?php if ($commentsCollection->count() > 0): ?>
        <?php foreach ($commentsCollection as $comment): ?>
            <div class="latest-comment">
                <div class="status">
                    <?php if (!is_null($comment->getCommentStatusId())):
                        echo $helper->getCommentStatus($comment->getCommentStatusId());
                    endif; ?>
                </div>
                <div class="name">
                    <b><?php echo $helper->getCustomerById($comment->getCreatedBy()) ?></b>
                    <i><?php echo $comment->getCreatedAt() ?></i>
                </div>
                <div class="txt"><?php echo $comment->getComment() ?></div>
            </div>
        <?php endforeach; ?>
    <?php else: ?>
        <p><?php echo $this->__('No comments'); ?></p>
    <?php endif ?>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {

        initAction();

        var showChar = 100;
        var ellipsestext = "...";
        var moretext = "See More";
        var lesstext = "See Less";
        jQuery('.txt').each(function () {
            var content = jQuery(this).html();
            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar - 1, content.length - showChar);
                var html = c + '<span class="moreelipses">' + ellipsestext + '</span><span class="morecontent"><span>' + h + '</span><a href="" class="morelink">' + moretext + '</a></span>';
                jQuery(this).html(html);
            }
        });

        jQuery(".morelink").click(function () {
            if (jQuery(this).hasClass("less")) {
                jQuery(this).removeClass("less");
                jQuery(this).html(moretext);
            } else {
                jQuery(this).addClass("less");
                jQuery(this).html(lesstext);
            }
            jQuery(this).parent().prev().toggle();
            jQuery(this).prev().toggle();
            return false;
        });

        jQuery('#input-msg').keyup(function () {
            var msg = jQuery('#input-msg').val();
            var maxlength = 250;
            var msglength = msg.length;
            if (msglength > 0) {
                jQuery('.block-post').find('button').removeClass('btn-post-disabled');
                jQuery('.block-post').find('button').prop("disabled", false);
            } else {
                jQuery('.block-post').find('button').addClass('btn-post-disabled');
                jQuery('.block-post').find('button').prop("disabled", true);
            }
            jQuery(this).val(msg.slice(0, maxlength));
            if (msglength > maxlength) msglength = maxlength;
            jQuery('.counter').html(maxlength - msglength);
        });

        jQuery('#receive_notifications').change(function() {
            if(this.checked) {
                receiveNotifications(true);
            } else {
                receiveNotifications(false);
            }
        });
    });

    function receiveNotifications(notify) {
        jQuery(".receive-notifications").hide();
        jQuery(".loader-receive-notifications").show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/receivenotifications') ?>",
            dataType : 'json',
            data: {
                designId: <?php echo $design->getDesignId(); ?>,
                notify: notify
            },
            success: function(result) {
                if (result.success == 1) {
                    jQuery(".receive-notifications").show();
                    jQuery(".loader-receive-notifications").hide();
                } else {
                    alert(result.message);
                }
            }
        });
    }

</script>