<?php
if (!$isAccess): ?>
<ul class="messages">
    <li class="notice-msg">
        <ul>
            <li><span><?php echo $this->__('You do not have access to this Design.') ?></span></li>
        </ul>
    </li>
</ul>
<?php else:
    $helper = Mage::helper('designcollaboration');
    if ($helper->isLockedDesign($design->getDesignId()) &&
        !$helper->getLockedIsByCustomer($design->getDesignId()) ): ?>
        <ul class="messages">
            <li class="notice-msg">
                <ul>
                    <li>
                        <span>
                            <?php echo $this->__('Locked for Editing by %s', $helper->getCustomerById($design->getLockedBy())) ?>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    <?php else:
    $this->lockedDesign($design->getDesignId());
    $commentsCollection = $this->getComments($design->getDesignId());
    $documenteditorurlurl = $helper->getEditorUrl($design->getFinelinkItemId(), $design->getProductId());
    ?>

        <div class="designcollaboration designcollaboration-edit">
            <div class="top-buttons">
                <div class="display-flex">
                    <div class="buttons-set2 button-back">
                        <a href="<?php echo $helper->getCancelAndUnlockUrl($design->getDesignId()); ?>">
                            <button type="submit" title="<?php echo $this->__('Cancel and Unlock') ?>"
                                    class="button"><span><span><?php echo $this->__('Cancel and Unlock') ?></span></span></button>
                        </a>
                    </div>
                </div>
                <div class="block-name">
                    <div class="product-name block-name-style">
                        <input type="text" id="design_name" value="<?php echo $design->getDesignname(); ?>" class="input-text">
                    </div>
                </div>
                <div class="rigth-block-buttons">
                    <div class="buttons-set2 button-share">
                        <button class="button btn-share"
                                type="submit"
                                title="<?php echo $this->__('Share') ?>">
                            <span><?php echo $this->__('Share') ?></span>
                        </button>
                    </div>
                    <div class="buttons-set2 btn-silver">
                        <button class="button btn-save-and-unlock"
                                type="submit"
                                title="<?php echo $this->__('Save and Unlock') ?>">
                            <span><?php echo $this->__('Save and Unlock') ?></span>
                        </button>
                    </div>
                </div>
            </div>

            <dic class="product-box">
                <iframe frameborder="0" src="<?php echo $documenteditorurlurl; ?>" id="iframe" width="100%" height="100%" name="iframe" style="height: 750px;" onload="getEditor()"></iframe>
            </dic>

            <?php echo $this->getChildHtml('designcollaboration.comments') ?>
        </div>

        <script type="text/javascript">

            var fancyboxProxy = jQuery.fancybox;
            var isRefreshDesignPage = false;
            var isRefreshToDesignPage = false;
            var editor;
            var frameWindow;
            var isEditorLoaded = false;

            jQuery(document).ready(function () {

                initAction();

                setInterval(function() {
                    extendTimeLocked();
                }, 300000);

            });

            function initAction() {
                jQuery('.btn-share').unbind('click');
                jQuery('.btn-share').bind('click', function () {
                    showModalByTpl('modalsharing');
                });
                jQuery('.btn-save-and-unlock').unbind('click');
                jQuery('.btn-save-and-unlock').bind('click', function () {
                    //we need wait until editor will be available
                    if (isEditorLoaded) {
                        showModalByTpl('modalsaveandunlock');
                    }
                });
            }

            function extendTimeLocked() {
                jQuery.ajax({
                    url: "<?php echo $this->getUrl('designcollaboration/ajax/extendtimelocked') ?>",
                    dataType : 'json',
                    data: {
                        designId: <?php echo $design->getDesignId(); ?>
                    },
                    success: function(result) {
                        if (result.success == 0) {
                            alert(result.message);
                            location.href = '<?php echo $this->getUrl('designcollaboration') ?>'
                        }
                    }
                });
            }

            function showModalByTpl(tpl) {
                fancyboxProxy({
                    padding: '0px',
                    transitionIn: 'fade',
                    transitionOut: 'fade',
                    href: '<?php echo $this->getUrl('designcollaboration/ajax/') ?>' + tpl,
                    type: 'ajax',
                    ajax: {
                        type: 'POST',
                        data: {
                            designId: <?php echo $design->getDesignId(); ?>
                        }
                    },
                    afterClose: function () {
                        if (isRefreshToDesignPage) {
                            location.href = '<?php echo $this->getUrl('designcollaboration') ?>'
                        } else {
                            if (isRefreshDesignPage) location.reload();
                        }
                    }
                });
            }

            function getEditor() {
                if (document.getElementsByTagName("iframe").length > 0) {
                    if (document.getElementsByTagName("iframe")[0].src != "") {
                        frameWindow = document.getElementsByTagName("iframe")[0].contentWindow;
                        frameWindow.GetEditor(editorLoaded);
                    }
                }
            }

            function editorLoaded(jsInterface) {
                editor = frameWindow.editorObject;

            }

            function OnEditorEvent(type, targetID) {
                if (type == "DocumentFullyLoaded") {
                    jQuery('.btn-save-and-unlock').parent().removeClass('btn-silver');
                    isEditorLoaded = true;
                }
            }

        </script>

    <?php endif ?>
<?php endif ?>
