<?php
if (!$isAccess): ?>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><span><?php echo $this->__('You do not have access to this Design.') ?></span></li>
            </ul>
        </li>
    </ul>
<?php else:
    $helper = Mage::helper('designcollaboration');
    ?>

    <div class="page-title">
        <h1>Design History</h1>
    </div>
    <h3 class="name-design"><?php echo $design->getDesignname(); ?></h3>
    <div class="buttons-set2 button-back">
        <a href="<?php echo $helper->getViewUrl($design->getDesignId()); ?>">
            <button type="submit" title="<?php echo $this->__('Back') ?>"
                    class="button"><span><small>&laquo; </small><?php echo $this->__('Back') ?></span></button>
        </a>
    </div>

    <?php if ($helper->isLockedDesign($design->getDesignId())): ?>
        <ul class="messages">
            <li class="notice-msg">
                <ul>
                    <li>
                        <span>
                            <?php if ($helper->getLockedIsByCustomer($design->getDesignId())): ?>
                                <?php echo $this->__('You locked this design for editing') ?>
                            <?php else: ?>
                                <?php echo $this->__('Locked for Editing by %s', $helper->getCustomerById($design->getLockedBy())) ?>
                            <?php endif ?>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    <?php endif ?>

    <?php if (count($dataHistory) > 0): ?>

        <div class="page-history">
        <?php foreach ($dataHistory as $history): ?>

            <?php
                $imgUrlFull = $history['url_img_full'];
                $imgUrlMin = $history['url_img_min'];
            ?>

            <div class="content">
                <div class="data-name">
                    <b><?php echo $helper->getCustomerById($history['last_comment']['created_by']); ?></b>
                    <i><?php echo $helper->formatDateTime($history['last_comment']['created_at']); ?></i>
                </div>
                <?php if (is_null($imgUrlFull)): ?>
                    <img class="igm-view"
                         src="<?php echo $imgUrlMin; ?>"
                         alt="<?php echo $this->__('Preview image') ?>"
                         title="<?php echo $this->__('Full image don\'t access') ?>">
                <?php else: ?>
                    <a class="igm-link" href="<?php echo $imgUrlFull; ?>">
                        <img class="igm-view"
                             src="<?php echo $imgUrlMin; ?>"
                             alt="<?php echo $this->__('Preview image') ?>"
                             title="<?php echo $this->__('Click to preview full image') ?>">
                    </a>
                <?php endif ?>
                <div class="comment">
                    <div class="status">
                        <?php echo $history['last_comment']['comment_status']; ?>
                    </div>
                    <?php echo $history['last_comment']['comment']; ?>
                </div>
                <?php if ($this->canRestore($design->getStatusId())): ?>
                    <div class="buttons-set2">
                        <?php if ($helper->isLockedDesign($design->getDesignId())): ?>
                            <div class="buttons-set2 btn-silver">
                                <button class="button"
                                        type="submit">
                                    <span><?php echo $this->__('Restore This Version') ?></span>
                                </button>
                            </div>
                        <?php else: ?>
                            <button class="button btn-restore-this-version"
                                    type="submit"
                                    data-history-id="<?php echo $history['history_id'] ?>"
                                    title="<?php echo $this->__('Restore This Version') ?>">
                                <span><?php echo $this->__('Restore This Version') ?></span>
                            </button>
                        <?php endif ?>
                    </div>
                <?php endif ?>
            </div>
        <?php endforeach; ?>
        </div>

        <script type="text/javascript">

            var fancyboxProxy = jQuery.fancybox;

            jQuery(document).ready(function () {
                initAction();
                jQuery(document).ready(function () {
                    initAction();
                    jQuery("a.igm-link").fancybox({
                        type: 'image'
                    });
                });
            });

            function initAction() {
                jQuery('.btn-restore-this-version').unbind('click');
                jQuery('.btn-restore-this-version').bind('click', function(){
                    showModalRestore(jQuery(this).data('historyId'));
                });
            }

            function showModalRestore(historyId) {
                fancyboxProxy({
                    padding: '0px',
                    transitionIn: 'fade',
                    transitionOut: 'fade',
                    href: "<?php echo $this->getUrl('designcollaboration/ajax/modalrestore') ?>",
                    type: "ajax",
                    ajax: {
                        type: "POST",
                        data: {
                            historyId: historyId
                        }
                    }
                });
            }

        </script>

    <?php else: ?>
        <ul class="messages">
            <li>
                <?php echo $this->__('You don\'t have versions to restore yet.'); ?>
            </li>
        </ul>
    <?php endif ?>

<?php endif ?>
