<?php
    $helper = Mage::helper('designcollaboration');
    $customerData = Mage::getSingleton('customer/session')->getCustomer();
?>
    <div class="page-title">
        <h1><?php echo $this->__('My Designs') ?></h1>
    </div>

<?php

if ($this->getCollection()->getSize()): ?>
    <div class="designcollaboration">
        <?php echo $this->getPagerHtml(); ?>
        <table class="data-table">
            <thead>
            <tr>
                <th><?php echo $this->__('Preview') ?></th>
                <th><?php echo $this->__('Design Name') ?></th>
                <th width="270px"><?php echo $this->__('Latest Comments') ?></th>
                <th width="100px"><?php echo $this->__('Sharing') ?></th>
                <th width="200px"><?php echo $this->__('Status') ?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->getCollection() as $design):
                $imgUrlFull = $helper->getViewImages($design->getFinelinkItemId(), 'fullscreen');
                $imgUrlMin = $helper->getViewImages($design->getFinelinkItemId(), 'list');

                $msgRemove = $design->getCreatedBy() == $customerData->getId()
                    ? $this->__('This design will be deleted and not accessible by any user in the future')
                    : $this->__('You will not be able to collaborate on this design anymore');
                ?>
                <tr>
                    <td class="center">
                        <?php if (is_null($imgUrlFull)): ?>
                            <img class="igm-view"
                                 src="<?php echo $imgUrlMin; ?>"
                                 alt="<?php echo $this->__('Preview image') ?>"
                                 title="<?php echo $this->__('Full image don\'t access') ?>">
                        <?php else: ?>
                            <a class="igm-link" href="<?php echo $imgUrlFull; ?>">
                                <img class="igm-view"
                                     src="<?php echo $imgUrlMin; ?>"
                                     alt="<?php echo $this->__('Preview image') ?>"
                                     title="<?php echo $this->__('Click to preview full image') ?>">
                            </a>
                        <?php endif ?>
                    </td>
                    <td>
                        <a class="design-title" href=" <?php echo $helper->getViewUrl($design->getDesignId()); ?> "> <?php echo $design->getDesignname(); ?> </a>
                    </td>
                    <td>
                        <?php $lastComment = $helper->getLastComment($design->getDesignId());
                            if (count($lastComment) > 0): ?>
                                <div class="latest-comment">
                                    <div class="name">
                                        <b><?php echo $lastComment['created_name'] ?></b>
                                        <i><?php echo $helper->formatDateTime($lastComment['created_at']) ?></i>
                                    </div>
                                    <div class="status">
                                        <?php if (!is_null($lastComment['comment_status_id'])):
                                            echo $helper->getCommentStatus($lastComment['comment_status_id']);
                                        endif; ?>
                                    </div>
                                    <div class="txt"><?php echo $lastComment['comment'] ?></div>
                                </div>
                        <?php endif ?>
                    </td>
                    <td>
                        <?php if ($helper->hasSharings($design->getDesignId())): ?>
                            <span class="btn-icon-share"></span>
                            <span class="btn-sharing"
                                  data-design-id="<?php echo $design->getDesignId() ?>" >
                                <?php echo $this->__('Shared') ?>
                            </span>
                        <?php else: ?>
                            <span class="btn-icon-blocked"></span>
                            <span class="btn-sharing"
                                  data-design-id="<?php echo $design->getDesignId() ?>" >
                                <?php echo $this->__('Only Me') ?>
                            </span>
                        <?php endif ?>
                    </td>
                    <td>
                        <div class="status-block">
                            <?php if ($helper->isLockedDesign($design->getDesignId())): ?>
                                <div class="status-icon">
                                    <span class="btn-icon-circle circle-red"></span>
                                </div>
                                    <span class="status-locked">
                                        <?php if ($helper->getLockedIsByCustomer($design->getDesignId())): ?>
                                            <?php echo $this->__('You locked this design for editing') ?>
                                        <?php else: ?>
                                            <?php echo $this->__('Locked for editing by %s', $helper->getCustomerById($design->getLockedBy())) ?>
                                        <?php endif ?>
                            <?php else: ?>
                                <?php if ($this->showStatusBlockSendForApproval($design->getStatusId())): ?>
                                    <div class="status-icon">
                                        <span class="btn-icon-circle circle-red"></span>
                                    </div>
                                    <button class="button btn-send"
                                            type="button"
                                            data-design-id="<?php echo $design->getDesignId() ?>" >
                                        <span><?php echo $this->__('Send for Approval') ?></span>
                                    </button>
                                <?php endif ?>
                                <?php if ($this->showStatusBlockPendingApproval($design->getStatusId())): ?>
                                    <div class="status-icon">
                                        <span class="btn-icon-circle circle-yellow"></span>
                                    </div>
                                    <span class="status-pending"><?php echo $this->__('Pending Approval') ?></span>
                                <?php endif ?>
                                <?php if ($this->showStatusBlockAddToCart($design->getStatusId())): ?>
                                    <div class="status-icon">
                                        <span class="btn-icon-circle circle-green"></span>
                                    </div>
                                    <button class="button btn-add-to-cart"
                                            type="button"
                                            data-design-id="<?php echo $design->getDesignId() ?>" >
                                        <span><?php echo $this->__('Add to Cart') ?></span>
                                    </button>
                                <?php endif ?>
                            <?php endif ?>
                        </div>
                    </td>
                    <td>
                        <?php if ($this->canRemove($design)): ?>
                            <a class="btn-remove btn-remove2"
                               href="<?php echo $helper->getRemoveUrl($design['design_id']); ?>"
                               onclick="return confirm('<?php echo $msgRemove; ?>');"
                               title="<?php echo $this->__('Remove Design') ?>" >
                                <?php echo $this->__('Remove design'); ?>
                            </a>
                        <?php endif ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>

        <?php echo $this->getPagerHtml(); ?>
    </div>

    <div class="buttons-set buttons-set2">
        <button class="button btn-reload"
                type="submit"
                title="<?php echo $this->__('Update Design List') ?>" >
            <span><?php echo $this->__('Update Design List') ?></span>
        </button>
    </div>

    <script type="text/javascript">

        var fancyboxProxy = jQuery.fancybox;
        var isRefreshDesignPage = false;

        jQuery(document).ready(function () {
            initAction();
            jQuery("a.igm-link").fancybox({
                type: 'image'
            });
        });

        function initAction() {
            jQuery('.btn-sharing').unbind('click');
            jQuery('.btn-sharing').bind('click', function(){
                showModalSharing(jQuery(this).data('designId'));
            });
            jQuery('.btn-send').unbind('click');
            jQuery('.btn-send').bind('click', function(){
                showModalSendForApproval(jQuery(this).data('designId'));
            });
            jQuery('.btn-add-to-cart').unbind('click');
            jQuery('.btn-add-to-cart').bind('click', function(){
                addToCart(jQuery(this).data('designId'));
            });
            jQuery('.btn-reload').unbind('click');
            jQuery('.btn-reload').bind('click', function(){
                location.reload();
            });
        }

        function showModalSharing(designId) {
            fancyboxProxy({
                padding: '0px',
                transitionIn: 'fade',
                transitionOut: 'fade',
                href: "<?php echo $this->getUrl('designcollaboration/ajax/modalsharing') ?>",
                type: "ajax",
                ajax: {
                    type: "POST",
                    data: {
                        designId: designId
                    }
                },
                afterClose: function() {
                    if (isRefreshDesignPage) location.reload();
                }
            });
        }

        function showModalSendForApproval(designId) {
            fancyboxProxy({
                padding: '0px',
                transitionIn: 'fade',
                transitionOut: 'fade',
                href: "<?php echo $this->getUrl('designcollaboration/ajax/modalsendforapproval') ?>",
                type: "ajax",
                ajax: {
                    type: "POST",
                    data: {
                        designId: designId
                    }
                }
            });
        }

        function addToCart(designId) {
            jQuery("#loading-mask").show();
            jQuery.ajax({
                url: "<?php echo $this->getUrl('designcollaboration/ajax/addtocards') ?>",
                dataType: 'json',
                data: {
                    designId: designId
                },
                success: function (result) {
                    if (result.success == 0) {
                        jQuery("#loading-mask").hide();
                        alert(result.message);
                    } else {
                        location.href = '<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>'
                    }
                }
            });
        }

    </script>

<?php else: ?>
    <p><?php echo $this->__('You have no items on your designs.'); ?></p>
<?php endif ?>