<?php
if (!$isAccess): ?>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><span><?php echo $this->__('You do not have access to this Design.') ?></span></li>
            </ul>
        </li>
    </ul>
<?php else:
    $helper = Mage::helper('designcollaboration');
    $commentsCollection = $this->getComments($design->getDesignId());

    $messageStatusPending = $this->__('Editing this design will revoke the request for design review. Would you like to edit this design ?');
    $messageStatusApproved = $this->__('Editing this design will revoke the design approval. Would you like to edit this design ?');
    ?>

    <div class="designcollaboration">
        <div class="top-buttons">
            <div class="display-flex">
                <div class="buttons-set2 button-back">
                    <a href="<?php echo $helper->getAllDesignsUrl(); ?>">
                        <button type="submit" title="<?php echo $this->__('Back') ?>"
                                class="button"><span><small>&laquo; </small><?php echo $this->__('Back') ?></span>
                        </button>
                    </a>
                </div>
                <div class="buttons-set2">
                    <a href="<?php echo $helper->getHistoryUrl($design->getDesignId()); ?>">
                        <button type="submit"
                                title="<?php echo $this->__('History') ?>"
                                class="button">
                            <span><?php echo $this->__('History') ?></span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="block-name">
                <div class="product-name block-name-style">
                    <h1><?php echo $design->getDesignname(); ?></h1>
                </div>
            </div>
            <div class="rigth-block-buttons">
                <div class="buttons-set2 button-share">
                    <button class="button btn-share"
                            type="submit"
                            title="<?php echo $this->__('Share') ?>">
                        <span><?php echo $this->__('Share') ?></span>
                    </button>
                </div>
                <?php if ($helper->isLockedDesign($design->getDesignId())): ?>
                    <?php if ($this->showBtnEditDesign($design->getStatusId())): ?>
                        <?php if ($helper->getLockedIsByCustomer($design->getDesignId())): ?>
                            <div class="buttons-set2">
                                <a href="<?php echo $helper->getEditUrl($design->getDesignId()); ?>"
                                    <?php if ($this->isStatusPending($design->getStatusId())): ?>
                                        onclick="return confirm('<?php echo $messageStatusPending; ?>');"
                                    <?php endif; ?>
                                    <?php if ($this->isStatusApproved($design->getStatusId())): ?>
                                        onclick="return confirm('<?php echo $messageStatusApproved; ?>');"
                                    <?php endif; ?>
                                >
                                    <button type="submit"
                                            title="<?php echo $this->__('Edit Design') ?>"
                                            class="button">
                                        <span><?php echo $this->__('Edit Design') ?></span>
                                    </button>
                                </a>
                            </div>
                        <?php else: ?>
                            <div class="buttons-set2 btn-silver">
                                <button class="button"
                                        type="submit">
                                    <span><?php echo $this->__('Edit Design') ?></span>
                                </button>
                            </div>
                        <?php endif ?>
                    <?php endif; ?>
                <?php else: ?>
                    <?php if ($this->showBtnCreateNewDesign($design->getStatusId())): ?>
                        <div class="buttons-set2">
                            <button class="button btn-create-new-design"
                                    type="submit"
                                    title="<?php echo $this->__('Create New Design') ?>">
                                <span><?php echo $this->__('Create New Design') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnEditDesign($design->getStatusId())): ?>
                        <div class="buttons-set2">
                            <a href="<?php echo $helper->getEditUrl($design->getDesignId()); ?>"
                                <?php if ($this->isStatusPending($design->getStatusId())): ?>
                                    onclick="return confirm('<?php echo $messageStatusPending; ?>');"
                                <?php endif; ?>
                                <?php if ($this->isStatusApproved($design->getStatusId())): ?>
                                    onclick="return confirm('<?php echo $messageStatusApproved; ?>');"
                                <?php endif; ?>
                            >
                                <button type="submit"
                                        title="<?php echo $this->__('Edit Design') ?>"
                                        class="button">
                                    <span><?php echo $this->__('Edit Design') ?></span>
                                </button>
                            </a>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnSendForApproval($design->getStatusId())): ?>
                        <div class="buttons-set2">
                            <button class="button btn-send-for-approval"
                                    type="submit"
                                    title="<?php echo $this->__('Send for Approval') ?>">
                                <span><?php echo $this->__('Send for Approval') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnApproveDesign($design->getStatusId(), $design->getDesignId())): ?>
                        <div class="buttons-set2 btn-green">
                            <button class="button btn-approve-design"
                                    type="submit"
                                    title="<?php echo $this->__('Approve Design') ?>">
                                <span><?php echo $this->__('Approve Design') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnPendingApproval($design->getStatusId(), $design->getDesignId())): ?>
                        <div class="buttons-set2 btn-silver">
                            <button class="button"
                                    type="submit">
                                <span><?php echo $this->__('Pending Approval') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnRevokeApproval($design->getStatusId(), $design->getDesignId())): ?>
                        <div class="buttons-set2 btn-red">
                            <button class="button btn-revoke-approval"
                                    type="submit"
                                    title="<?php echo $this->__('Revoke Approval') ?>">
                                <span><?php echo $this->__('Revoke Approval') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnDenyDesign($design->getStatusId(), $design->getDesignId())): ?>
                        <div class="buttons-set2 btn-red">
                            <button class="button btn-deny-design"
                                    type="submit"
                                    title="<?php echo $this->__('Deny Design') ?>">
                                <span><?php echo $this->__('Deny Design') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                    <?php if ($this->showBtnAddToShoppingCart($design->getStatusId())): ?>
                        <div class="buttons-set2">
                            <button class="button btn-add-shopping-cart"
                                    type="submit"
                                    title="<?php echo $this->__('Add to Shopping Cart') ?>">
                                <span><?php echo $this->__('Add to Shopping Cart') ?></span>
                            </button>
                        </div>
                    <?php endif; ?>
                <?php endif ?>
            </div>
        </div>

        <?php if ($helper->isLockedDesign($design->getDesignId())): ?>
            <ul class="messages">
                <li class="notice-msg">
                    <ul>
                        <li>
                            <span>
                                <?php if ($helper->getLockedIsByCustomer($design->getDesignId())): ?>
                                    <?php echo $this->__('You locked this design for editing') ?>
                                <?php else: ?>
                                    <?php echo $this->__('Locked for Editing by %s', $helper->getCustomerById($design->getLockedBy())) ?>
                                <?php endif ?>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        <?php endif ?>

        <div class="product-box">
            <img src="<?php echo $urlImage; ?>"
                 alt="<?php echo $this->__('Preview image') ?>">
        </div>

        <?php echo $this->getChildHtml('designcollaboration.comments') ?>
    </div>

    <script type="text/javascript">

        var fancyboxProxy = jQuery.fancybox;
        var isRefreshDesignPage = false;
        var isRefreshToDesignPage = false;

        jQuery(document).ready(function () {
            initAction();
        });

        function initAction() {
            jQuery('.btn-share').unbind('click');
            jQuery('.btn-share').bind('click', function () {
                showModalSharing();
            });
            jQuery('.btn-add-shopping-cart').unbind('click');
            jQuery('.btn-add-shopping-cart').bind('click', function () {
                jQuery("#loading-mask").show();
                jQuery.ajax({
                    url: "<?php echo $this->getUrl('designcollaboration/ajax/addtocards') ?>",
                    dataType: 'json',
                    data: {
                        designId: <?php echo $design->getDesignId(); ?>
                    },
                    success: function (result) {
                        if (result.success == 0) {
                            jQuery("#loading-mask").hide();
                            alert(result.message);
                        } else {
                            location.href = '<?php echo Mage::helper('checkout/cart')->getCartUrl(); ?>'
                        }
                    }
                });
            });
            jQuery('.btn-approve-design').unbind('click');
            jQuery('.btn-approve-design').bind('click', function () {
                showModalByTpl('modalapprove');
            });
            jQuery('.btn-deny-design').unbind('click');
            jQuery('.btn-deny-design').bind('click', function () {
                showModalRevokeOrDeny(false);
            });
            jQuery('.btn-revoke-approval').unbind('click');
            jQuery('.btn-revoke-approval').bind('click', function () {
                showModalRevokeOrDeny(true);
            });
            jQuery('.btn-create-new-design').unbind('click');
            jQuery('.btn-create-new-design').bind('click', function () {
                showModalByTpl('modalcreatenewdesign');
            });
            jQuery('.btn-send-for-approval').unbind('click');
            jQuery('.btn-send-for-approval').bind('click', function () {
                showModalByTpl('modalsendforapproval');
            });
        }

        function showModalSharing() {
            fancyboxProxy({
                padding: '0px',
                transitionIn: 'fade',
                transitionOut: 'fade',
                href: "<?php echo $this->getUrl('designcollaboration/ajax/modalsharing') ?>",
                type: "ajax",
                ajax: {
                    type: "POST",
                    data: {
                        designId: <?php echo $design->getDesignId(); ?>
                    }
                },
                afterClose: function () {
                    if (isRefreshToDesignPage) {
                        location.href = '<?php echo $this->getUrl('designcollaboration') ?>'
                    } else {
                        if (isRefreshDesignPage) location.reload();
                    }
                }
            });
        }

        function showModalByTpl(tpl) {
            fancyboxProxy({
                padding: '0px',
                transitionIn: 'fade',
                transitionOut: 'fade',
                href: '<?php echo $this->getUrl('designcollaboration/ajax/') ?>' + tpl,
                type: 'ajax',
                ajax: {
                    type: 'POST',
                    data: {
                        designId: <?php echo $design->getDesignId(); ?>
                    }
                }
            });
        }

        function showModalRevokeOrDeny(showRevoke) {
            fancyboxProxy({
                padding: '0px',
                transitionIn: 'fade',
                transitionOut: 'fade',
                href: "<?php echo $this->getUrl('designcollaboration/ajax/modalrevokeordeny') ?>",
                type: "ajax",
                ajax: {
                    type: "POST",
                    data: {
                        designId: <?php echo $design->getDesignId(); ?>,
                        showRevoke: showRevoke
                    }
                }
            });
        }

        function receiveNotifications(notify) {
            jQuery(".receive-notifications").hide();
            jQuery(".loader-receive-notifications").show();
            jQuery.ajax({
                url: "<?php echo $this->getUrl('designcollaboration/ajax/receivenotifications') ?>",
                dataType: 'json',
                data: {
                    designId: <?php echo $design->getDesignId(); ?>,
                    notify: notify
                },
                success: function (result) {
                    if (result.success == 1) {
                        jQuery(".receive-notifications").show();
                        jQuery(".loader-receive-notifications").hide();
                    } else {
                        alert(result.message);
                    }
                }
            });
        }

    </script>

<?php endif ?>