<?php
/**
 * Create account form template
 *
 * @category    design
 * @package     base_default
 * @author      Zestard Magento Team
 */
?>
<?php
/**
 * edit account form template
 *
 * @var $this Mage_Customer_Block_form_edit
 */
?>
<div class="page-title">
    <h1><?php echo $this->__('Edit Account Information') ?></h1>
</div>
<?php $helper = $this->helper('zestard_customerattribute/customerattribute'); ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<form action="<?php echo $this->getUrl('customer/account/editPost') ?>" method="post" enctype="multipart/form-data" id="form-validate" autocomplete="off">
    <div class="fieldset">
        <?php echo $this->getBlockHtml('formkey')?>
        <h2 class="legend"><?php echo $this->__('Account Information') ?></h2>
        <ul class="form-list">
            <?php if ($helper->isAttribureForCustomerAccountEdit('firstname') && $helper->isVisible('firstname')) : ?>            
                <li class="fields">
                    <div class="field name-firstname">
                        <label for="firstname" class="required"><em>*</em><?php echo $this->__('First Name') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="firstname" name="firstname" 
                            value="<?php echo $this->escapeHtml($this->getCustomer()->getFirstname()) ?>"
                            title="<?php echo $this->__('firstname'); ?>" maxlength="255" class="input-text" />
                        </div>
                    </div>
                </li>
                <?php endif; ?>
                
                <?php if ($helper->isAttribureForCustomerAccountEdit('middlename') && $helper->isVisible('middlename')) : ?>            
                <li class="fields">
                    <div class="field name-middlename">
                        <label for="middlename"><?php echo $this->__('Middle Name') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="middlename" name="middlename"
                            value="<?php echo $this->escapeHtml($this->getCustomer()->getMiddlename()) ?>"
                            title="<?php echo $this->__('middlename'); ?>" maxlength="255" class="input-text" />
                        </div>
                    </div>
                </li>
                <?php endif; ?>

                <?php if ($helper->isAttribureForCustomerAccountEdit('lastname') && $helper->isVisible('lastname')) : ?>
                <li class="fields">
                    <div class="field name-lastname">
                        <label for="lastname" class="required"><em>*</em><?php echo $this->__('Last Name') ?>
                        </label>
                        <div class="input-box">
                            <input type="text" id="lastname" name="lastname"
                            value="<?php echo $this->escapeHtml($this->getCustomer()->getLastname()) ?>"
                            title="<?php echo $this->__('lastname'); ?>" maxlength="255" class="input-text" />
                        </div>
                    </div>
                </li>
                <?php endif; ?>
            <?php if ($this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit('email')) : ?>
            <li>
                <label for="email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                    <input type="text" name="email" id="email" value="<?php echo $this->escapeHtml($this->getCustomer()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text required-entry validate-email" />
                </div>
            </li>
            <?php endif ?>
        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
        <?php if ($_dob->isEnabled() && $this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit('dob')): ?>
            <li><?php echo $_dob->setDate($this->getCustomer()->getDob())->toHtml() ?></li>
        <?php endif ?>
        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
        <?php if ($_taxvat->isEnabled() && $this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit('taxvat')): ?>
            <li><?php echo $_taxvat->setTaxvat($this->getCustomer()->getTaxvat())->toHtml() ?></li>
        <?php endif ?>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
        <?php if ($_gender->isEnabled() && $this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit('gender')): ?>
            <li><?php echo $_gender->setGender($this->getCustomer()->getGender())->toHtml() ?></li>
        <?php endif ?>
            <li class="control">
                <input type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if($this->getCustomer()->getChangePassword()==1): ?> checked="checked"<?php endif; ?> class="checkbox" /><label for="change_password"><?php echo $this->__('Change Password') ?></label>
            </li>
        </ul>
    </div>
    <div class="fieldset" style="display:none;">
        <h2 class="legend"><?php echo $this->__('Change Password') ?></h2>
        <ul class="form-list">
            <li>
                <label for="current_password" class="required"><em>*</em><?php echo $this->__('Current Password') ?></label>
                <div class="input-box">
                    <!-- This is a dummy hidden field to trick firefox from auto filling the password -->
                    <input type="text" class="input-text no-display" name="dummy" id="dummy" />
                    <input type="password" title="<?php echo $this->__('Current Password') ?>" class="input-text" name="current_password" id="current_password" />
                </div>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="password" class="required"><em>*</em><?php echo $this->__('New Password') ?></label>
                    <div class="input-box">
                        <input type="password" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password" name="password" id="password" />
                    </div>
                </div>
                <div class="field">
                    <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
                    <div class="input-box">
                        <input type="password" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword" name="confirmation" id="confirmation" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- custom attributes -->
        <?php $attributeCollection = $this->helper('zestard_customerattribute/customerattribute')->getUserDefinedAttribures()->setOrder('sort_order', 'ASC'); ?>

        <?php if($attributeCollection->count() > 0) : ?>

         <div class="fieldset">
            <?php foreach($attributeCollection as $attribute):?>
                <?php if($this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit($attribute->getAttributeCode())): ?>
                    <h2 class="legend"><?php echo $this->__('Additional Information') ?></h2>
                    <?php break; ?>
                <?php endif;?>
            <?php endforeach;?>            
			<?php
				/*$customers  = Mage::getModel('customer/customer')
					->getCollection()
					->addAttributeToSelect('*')
					->addAttributeToSelect('customerimage')
					->addAttributeToFilter('entity_id', array('eq' => $this->getCustomer()->getId()))
					->getFirstItem();
				 echo '<pre>';print_r($customers->getData());die("dead"); */
				
			?>
             <!-- For all user defined attributes -->             
             <?php foreach($attributeCollection as $attribute):?>
                <!-- For all user defined attributes which are set for customer edit account -->
                <?php if($this->helper('zestard_customerattribute/customerattribute')->isAttribureForCustomerAccountEdit($attribute->getAttributeCode())):?>					
					
                    <?php $frontEndLabel = $attribute->getStoreLabel($this->helper('zestard_customerattribute/customerattribute')->getStoreId()); ?>
                    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
                    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'required-entry' : '' ?>
                    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
                    <?php $fieldValue = $this->escapeHtml($this->getCustomer()->$getAttributeCodeFunction()); ?>
                    <ul class="form-list">
                        <li class="fields">
                           <div class="field">
                               <label for="<?php echo $attribute->getAttributeCode(); ?>" <?php if($attribute->getIsRequired()):?>class="required"><em>*</em> <?php  else :?>><?php endif;?><?php echo $this->__($frontEndLabel) ?></label>
                               <div class="input-box">

                                   <?php if($attribute->getFrontendInput()== 'text'):?>
                                       <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-text <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" <?php echo ($attribute->getReadOnly() ==1 ) ? 'readonly="readonly"' : ''?> />

                                   <?php elseif($attribute->getFrontendInput()== 'textarea'):?>
                                       <textarea class=" textarea <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" cols="15" rows="2" title="<?php echo $this->__($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>"><?php echo $fieldValue; ?></textarea>

                                   <?php elseif($attribute->getFrontendInput()== 'date'):?>
                                    <input type="text" style="width:110px !important;" class=" input-text <?php echo $fieldRequiredClass; ?> " title="<?php echo $this->__($frontEndLabel); ?>" value="<?php echo $this->helper('zestard_customerattribute/customerattribute')->getFormattedDate($fieldValue); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>">
                                    <img style="" title="Select Date" id="<?php echo $attribute->getAttributeCode(); ?>_trig" class="v-middle" alt="" src="<?php echo $this->getSkinUrl('images/zestard/customerattribute/grid-cal.gif') ?>">
                                        <script type="text/javascript">
                                        //&lt;![CDATA[
                                            Calendar.setup({
                                                inputField: "<?php echo $attribute->getAttributeCode(); ?>",
                                                ifFormat: "%m-%d-%Y",
                                                showsTime: false,
                                                button: "<?php echo $attribute->getAttributeCode(); ?>_trig",
                                                align: "Bl",
                                                singleClick : true
                                            });
                                        //]]&gt;
                                        </script>

                                    <?php elseif($attribute->getFrontendInput()== 'boolean'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>

                                    <?php elseif($attribute->getFrontendInput()== 'select'):?>
                                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo $this->__($frontEndLabel); ?>"<?php if ($attribute->getIsRequired()):?> class="validate-select required-entry "<?php endif; ?>>
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>

                                    <?php elseif($attribute->getFrontendInput()== 'multiselect'):?>
                                    <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo $this->__($frontEndLabel); ?>"  class=" multiselect <?php if ($attribute->getIsRequired()):?> validate-select required-entry<?php endif; ?> ">
                                        <?php $options = Mage::getResourceSingleton('customer/customer')->getAttribute($attribute->getAttributeCode())->getSource()->getAllOptions();?>
                                        <?php foreach ($options as $option):?>
                                            <option value="<?php echo $option['value'] ?>"<?php if (in_array($option['value'], explode(',', $fieldValue))) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                        <?php endforeach;?>
                                    </select>
									<?php elseif($attribute->getFrontendInput()== 'file'):?>										
										<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'customer'.$fieldValue;?>">
										<input type="file" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-type <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
									<?php elseif($attribute->getFrontendInput()== 'image'):?>
										<img width="100px" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'customer'.$fieldValue;?>">
										<input type="file" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $fieldValue; ?>" title="<?php echo $this->__($frontEndLabel); ?>" class="input-type <?php echo $fieldRequiredClass; ?> <?php echo $fieldFrontendClass ;?>" />
                                   <?php endif;?>
                               </div>
                           </div>
                       </li>
                    </ul>
					<script type="text/javascript">
						if (jQuery('#<?php echo $attribute->getAttributeCode(); ?>').is('[readonly]')) {
							jQuery('#<?php echo $attribute->getAttributeCode(); ?>').keypress(function(){
								jQuery(this).attr("readonly","readonly");
							}); 
						}						
					</script>
                    <?php if($attribute->getIsUnique() == 1) : ?>
						<script type="text/javascript">							
							jQuery('#form-validate').delegate('#<?php echo $attribute->getAttributeCode(); ?>','change', function(){
								var getValue = jQuery('#<?php echo $attribute->getAttributeCode(); ?>').val();
								if(getValue!= null)
								{									
									jQuery.ajax({
										url:'<?php echo $this->getUrl('customerattribute/index/editunique',array('attributecode'=>$attribute->getAttributeCode()))?>',
										dataType: "text",
										method: "POST",
										data:{attributeValue:getValue},
										success:function(res){
											
											if(res==0){
												jQuery('#<?php echo $attribute->getAttributeCode(); ?>').removeClass('validation-failed');
												jQuery('#<?php echo $attribute->getAttributeCode(); ?>').parent().find('.validation-advice').remove();
											} else {
												jQuery('#<?php echo $attribute->getAttributeCode(); ?>').parent().find('.validation-advice').remove();
												jQuery('#<?php echo $attribute->getAttributeCode(); ?>').after(jQuery('<div/>').addClass('validation-advice').text('The <?php echo $attribute->getFrontendLabel(); ?> value is allready used, please try another.')).addClass('validation-failed');												
											}
										},
										error: function(xhr, status, err) {
											jQuery("<p>Error: Status = " + status + ", err = " + err + "</p>")
											.appendTo(document.body);
										}
									});
								}
							});
						</script>
					<?php endif;?>
              <?php endif;?>
             <?php endforeach;?>
         </div>
    <?php endif; ?>
    <div class="buttons-set">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
        <button type="submit" title="<?php echo $this->__('Save') ?>" class="button"><span><span><?php echo $this->__('Save') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('form-validate', true);
    function setPasswordForm(arg){
        if(arg){
            $('current_password').up(3).show();
            $('current_password').addClassName('required-entry');
            $('password').addClassName('required-entry');
            $('confirmation').addClassName('required-entry');

        }else{
            $('current_password').up(3).hide();
            $('current_password').removeClassName('required-entry');
            $('password').removeClassName('required-entry');
            $('confirmation').removeClassName('required-entry');
        }
    }

    <?php if($this->getCustomer()->getChangePassword()): ?>
        setPasswordForm(true);
    <?php endif; ?>
//]]>
</script>
