<?php $_product = $this->getProduct() ?>

<?php echo $this->getPriceHtml($_product) ?>



<!-- Stock Status -->

<?php
    $manageStock = $_product->getStockItem()->getManageStock();
    $inventoryQuantity = (int)Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty();
 
    if ($manageStock == 1) // If 'Manage Stock' is set to YES
        {
        // If 'Qty' is less than or equal to zero
            if($inventoryQuantity <= 0) { ?>
                
                    <?php
                        $productType = $_product->getType();
                        $preorder = $_product->getPreorder();
                        $availableDate = $_product->getData('availabledate');
                        $time = strtotime($availableDate);
                        $availableDateFormat = date("m-d-Y", $time);
                        if($productType == "configurable") {
                            echo $this->__('Pick Product Below');
                        }
                        if($preorder == 1) { ?>
                            <div class="preorder">
                <p>This item will ship when available.</p><p>Estimated ship date is <?php echo $availableDateFormat; ?>.</p>
                <!-- <p><span><em><strong>Please note:</strong> We will ship the rest of order before the pre ordered item is available.</em></span></p> -->
                </div>
                        <?php } 
                        else { ?>
                        <p class="availability out-of-stock">
                            <span>
                                <?php echo $this->__('Out of Stock');?>
                            </span>
                        </p>
                        <?php } ?>
            <?php } else { ?>
            <p class="availability in-stock">
               
                    <?php
                    echo $this->__('Qty on Hand:') ?> <span><?= (int) Mage::getModel('cataloginventory/stock_item')->loadByProduct($_product)->getQty()?></span>
              
            </p>
        <?php }
        }
    else {echo "<p style ='font-size: 16px; font-weight: bold; color:#ff0000;'>Made to Order!</p>"; } // safe default
       
    ?>
   
<!-- // Stock Status -->



<?php echo $this->getChildHtml('product_type_data_extra') ?>
