<?php
/**
 * © 2016 CyberSource Corporation. All rights reserved. CyberSource Corporation (including its subsidiaries,
 * “CyberSource”) furnishes this code under the applicable agreement between the reader of this document
 * (“You”) and CyberSource (“Agreement”). You may use this code only in accordance with the terms of the
 * Agreement. The copyrighted code is licensed to You for use only in strict accordance with the Agreement.
 * You should read the Agreement carefully before using the code.
 */

$_code = $this->getMethodCode();
$displayClass = 'display:none';
$isLoggedIn = Mage::getSingleton('customer/session')->getCustomerId();
$customerTokens = $this->_collection;

$useBlock = $this->useBlockContent();
$blockId = $this->getContentBlockId();

?>
<ul class="form-list" id="payment_form_<?php echo $_code ?>" style="display:none">

<?php  if($useBlock && $blockId){  ?>
    <li>
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId($blockId)->toHtml(); ?>
    </li>
<?php }else{ ?>
    <li>
        <h2><?php echo Mage::helper('cybersourcesop')->__('Cybersource Secure Acceptance') ?></h2>
    </li>
    <li>
      <h4>  <?php echo Mage::helper('cybersourcesop')->__('You will be redirected to our secure payment page when you place an order.') ?></h4>
    </li>
    <?php } ?>
            <li class="form-alt">
                    <label for="payment_method" id="payment[payment_method]">Select Your Payment Type:</label>
                    <select name="payment[cc_type]" onchange="if (this.value == 'token') { $('tokenList').setStyle({'display' : 'block'}); $('cybersourcesop_cc_save_div').setStyle({'display' : 'none'});} else { $('tokenList').setStyle({'display' : 'none'}); $('cybersourcesop_cc_save_div').setStyle({'display' : 'block'}); } " id="tokenSelect">
                            <option value="card">Use a New Credit Card</option>
                            <?php if ($this->_hasTokens): ?><option value="token">Use a Saved Credit Card.</option> <?php endif; ?>
                        </select>
            </li>
        <li class="form-alt">
        <!-- Tokenised Card Radio buttons - Start -->
        <div class="tokenList" id="tokenList" style="display: none">
                <?php if ($this->_hasTokens): ?>
                    <label for="<?php echo $_code ?>_token_id" id="cardSelection"><em>*</em><?php echo $this->__('Select a Saved Card') ?></label>
                        <div class="customerTokensOuter">
                            <?php $i = 0; //counter for javascript elements ?>
                            <?php foreach ($customerTokens as $_tokenId => $_token): ?>

                                <div class="customerTokensInner input-box">
                                    <input index="<?php echo $i; ?>" type="radio" value="<?php echo $_token['token_id'] ?>" name="payment[payment_token]" id="token" class=""/><div id="<?php echo $this->getCardClass($_token['cc_type']); ?>" ></div><span class="tokenText"><?php echo $this->__('Ending in') . '  <b> ' . substr($_token['cc_number'],strlen($_token['cc_number'])-4).' </b>  '. $this->__('Expires') .'  <b> '. $this->formatExpirationDate($_token['cc_expiration']). ' </b>  '?>
                                        <input type="text" class="" title="<?php echo $this->__('Card Verification Number') ?>" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" counter="<?php echo $i; ?>"  style="width:50px;"> <a href="#" class="cvv-what-is-this">  <?php echo $this->__('What is this?'); $i++; ?></a></span>
                                </div>
                            <?php endforeach ?>
                            <label for="<?php echo $_code ?>_cc_save" class=""><?php echo $this->__('Update the selected Card?') ?></label>
                            <div class="input-box">
                                <div class="v-fix">
                                    <input type="checkbox" title="<?php echo $this->__('Update the selected card?') ?>" id="cc_update" name="payment[cc_update]" value="0" onclick="if (this.checked) { this.value = 1; } else { this.value = 0;}" />
                                </div>
                            </div>
                        </div>
                <?php endif; ?>
        </div>
        <!-- Tokenised Card Radio Buttons - End -->
    </li>
    <?php if ($this->isTokenisationEnabled() && $isLoggedIn):
        $displayClass = 'block';
        ?>
        <li id="<?php echo $_code ?>_cc_save_div" style="<?php echo $displayClass ?>" class="new_cc">
            <label for="<?php echo $_code ?>_cc_save" class=""><?php echo $this->__('Save Your New Card?') ?></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="checkbox" title="<?php echo $this->__('Save New Card?') ?>" id="cc_save" name="payment[cc_save]" value="0" onclick="if (this.checked) { this.value = 1; } else { this.value = 0;}" />
                </div>
            </div>
        </li>
    <?php endif; ?>
</ul>

<?php echo $this->getChildHtml() ?>
