<!--@subject New Requisition Ready for Review @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{inlinecss file="email-inline.css"}}
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
     <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
             <table bgcolor="FFFFFF" cellspacing="0" cellpadding="0" border="0" width="650"  style="border:1px solid #E0E0E0;">
                  <tr>
                     <td valign="top" colspan="3">
                         <a href="{{store url}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin:10px;" border="0"/></a>
                     </td>
                   </tr>
                <!-- [ middle starts here] -->
                  <tr class="order-information" style="margin:20px;">
                      <td colspan="3" valign="top">
                          <h1>A new requisition has been submitted for your review.</h1>
                      </td>
                  </tr>
                  <tr class="order-information" style="margin:20px;">
                      <td colspan="3">
                          <p>Requisition number: #{{var order.getId()}}</p>
                      </td>
                  </tr>

                  <tr class="order-information" style="margin:20px; background-color:#F6F6F6;">
                        {{var itemheader}}
                  </tr>
                        {{var items}}

                    <tr class="order-information"><td colspan="3" align="right" style="font-size:11px; padding:3px 15px;">{{var grandtotal}}</td></tr>
                    <tr class="order-information">
                        <td class="address-details">
                            <p>Shipping Address: <br>{{var order.getShippingAddress().format('html')}}</p>
                        </td>
                        <td class="address-details">
                            <p>Billing Address: <br>{{var order.getBillingAddress().format('html')}}</p>
                        </td>
                    </tr>
                </table>

                <p>You can view open requisitions in your account <a href="{{var approvalsURL}}">My Approvals page</a></p>
            </td>
        </tr>
        <tr>
            <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
            <center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center>
            </td>
        </tr>
    </table>
</div>
</body>