{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Hi {{htmlescape var=$customerName}},</h1>
            <p>{{htmlescape var=$senderName}} has requested your approval on a new design: {{htmlescape var=$designName}}. Click here to view the design.</p>
            <table cellspacing="0" cellpadding="0" class="action-button" >
                <tr>
                    <td>
                        <a href="{{htmlescape var=$viewLink}}"><span>View Design</span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}