.web2print-editor-load .main {
    background-image: none;
    margin: 0;
	margin-top:-20px;
    width: 100%;

}

body.web2print-editor-load,
.web2print-editor-load .main,
.web2print-editor-load .main-container,
.web2print-editor-load .product-essential {
    background-image: none;
    background-color: transparent;
}

.web2print-editor-load .product-essential {
    height: 25px;
	
}

.web2print-editor-load .col1-layout .product-view .product-essential {
	padding-bottom: 10px;
}

.web2print-editor-load .col1-layout .main {
    padding: 0;
}

.web2print-editor-load .product-view {
    border: 0;
}


#editorForm tr { display:block; margin-bottom:10px; }
#editorForm td.label { padding-left: 10px; width:150px; }
#jsInputForm h3 { padding-left:10px; }

#navigation { margin-left:20px; float:right;}

#navigation .item { border-right:1px solid #BFBFBF; padding-right: 5px; margin-right: 5px; display:block; float: left; margin-top:1px;}

.col1-layout .main .product-web2print-links ul { display:inline; }
.col1-layout .main .product-web2print-links ul li { float:left; margin-right:10px; }
.col1-layout .main .product-web2print-links h3 { float:left; margin-right:10px; display:none; }

#save-options { margin: -70px 0 0 0px; position: relative; }

.editor-links { width:90%; margin-left: 5%; margin-right:5%;}
.editor-links .left { float: left; margin: 20px; margin-left:0px;}
.editor-links .right { float: right;margin: 20px; margin-right:0px;}
.editor-links #productOptions { margin: 5px 0 0 0!important; }
.editor-links #productOptions .product-options { margin-top:0; padding-bottom: 50px; width: 245px; }
.editor-links #productOptions #product-options-container {background:#b3b8bb; padding:10px;border-radius:7px;}
.editor-links #productOptions .product-options dd { border-bottom: 0; }
.editor-links #confirmed{ margin-right:10px; }

.required-entry.product-custom-option.highlighted { border:1px solid red!important; }
 
.product-image{ overflow:hidden!important; }

.my-conceptlist textarea { display: block; height: 109px; width: 97%; }
.concept-image{ display: block; height: 135px; margin-top: 5px; overflow: hidden; width: 135px; }

/*Colab on chiliEditor Page*****************/


#colabContainer {width: 90%; 
    margin:5%; 
    padding: 0;
    background-color:#fff; 
    border: 1px solid #012168; 
    border-radius: 7px;
}


.colabForm h2 {
    margin: 15px;
    border-bottom: 1px solid #012168;
}

 .colabForm input[type=submit] {

    margin:10px;
    padding:10px; 
    color:#fff;
    width: 25%;
    background:#012168; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
 .colabForm input[type=button] {

  padding:10px;
    margin:10px; 
    color:#fff;
    width: 25%;
    background:#012168; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.colabForm input[type=text] {
    clear: right;
    width: 72%;
    background:#fff;
    border:1px solid #ccc;
    padding:2px 8px;
    height:32px;
    color:#777;
    font-size:13px;
    border-radius:3px;
}
.colabForm input[type=email] {
    clear: right;
    width: 72%;
    background:#fff;
    border:1px solid #ccc;
    padding:2px 8px;
    height:32px;
    color:#777;
    font-size:13px;
    border-radius:3px;
}

/*.colabForm select{
    background:#fff;
    border:1px solid #ccc;
    padding:2px 8px;
    height:32px;
    color:#777;
    font-size:13px;
}

.colabForm input.input-text,textarea{
    padding:8px;
}*/
.colabForm label{
    width: 20%;
    float: left;
    margin:0;
    padding-top: 5px;
    text-align: right;
    vertical-align:middle;
    color:#777;
    font-size:13px;
    font-weight:normal; 

}
