#modal-approve {
    margin-top: 10px;
}

#modal-approve h2.legend {
    text-transform: uppercase;
    color: #012168;
    font-size: 16px;
    line-height: 1.35;
}

#modal-approve .block-buttons {
    text-align: right;
    margin-top: 10px;
}