#modal-restore {
    margin-top: 10px;
}

#modal-restore h2.legend {
    text-transform: uppercase;
    color: #012168;
    font-size: 16px;
    line-height: 1.35;
}

#modal-restore .style-textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
}

#modal-restore .block-buttons {
    text-align: right;
    display: flex;
}

#modal-restore .block-buttons .btn-cancel {
    margin-right: 10px;
}

#modal-restore .block-bottom {
    display: flex;
}

#modal-restore .block-bottom .count-chars {
    width: 100%;
    margin-top: 12px;
}

#modal-restore .required em {
    font-style: normal;
    color: #eb340a;
}

#modal-restore textarea.validate {
    border: 1px dashed #eb340a !important;
    background: #faebe7 !important;
}