.fancybox-wrap .wrapper .main.container {
    width: 100%;
    margin: 0;
}

#save-and-unlock-settings {
    margin-top: 10px;
    min-width: 700px;
}

#save-and-unlock-settings .style-textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
}

#save-and-unlock-settings .block-buttons {
    text-align: right;
    display: flex;
}

#save-and-unlock-settings .block-buttons .btn-close {
    margin-right: 10px;
}

#save-and-unlock-settings .block-bottom {
    display: flex;
}

#save-and-unlock-settings .block-bottom .count-chars {
    width: 100%;
    margin-top: 12px;
}

#save-and-unlock-settings .required em {
    font-style: normal;
    color: #eb340a;
}

#save-and-unlock-settings textarea.validate {
    border: 1px dashed #eb340a !important;
    background: #faebe7 !important;
}