#design_popup .block-buttons {
    text-align: right;
    margin-top: 10px;
}

#design_popup .required em {
    float: right;
    font-style: normal;
    color: #eb340a;
    margin-bottom: 10px;
}

#design_popup input.validate {
    border: 1px dashed #eb340a !important;
    background: #faebe7 !important;
}

input#design_name {
    margin: 0px 0px 20px 0px;
    display: block;
    vertical-align: middle;
    height: 38px;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #08c;
    border-color: #e1e1e1;
}