#sharing-settings {
    margin-top: 10px;
    min-width: 700px;
}

.fancybox-wrap .wrapper .main.container {
    width: 100%;
    margin: 0;
}

#sharing-settings h2.legend {
    text-transform: uppercase;
    color: #012168;
    font-size: 16px;
    line-height: 1.35;
}

#sharing-settings .style-textarea {
    width: 100%;
    height: 90px;
    margin-bottom: 15px;
}

#sharing-settings .block-buttons {
    text-align: right;
    margin-top: 10px;
}

#sharing-settings .required em {
    font-style: normal;
    color: #eb340a;
}

#sharing-settings input.validate {
    border: 1px dashed #eb340a !important;
    background: #faebe7 !important;
}

#sharing-settings .sharing-block {
    margin-bottom: 10px;
}

#sharing-settings .sharing-block .item {
    overflow: hidden;
    border-bottom: 1px dashed silver;
!important;
    height: 23px;
}

#sharing-settings .sharing-block .item .name {
    float: left;
    position: relative;
    top: 4px;
}

#sharing-settings .sharing-block .item .btn-remove-sharing {
    font-size: 18px;
    padding: 2px;
    float: right;
    display: block;
}

#sharing-settings .sharing-block .item .btn-remove:hover {
    cursor: pointer;
}

#sharing-settings .sharing-block .item.color-silver {
    color: silver;
}

#sharing-settings .save-msg {
    border-color: #d6e9c6;
    background-color: #dff0d8;
    color: #3c763d;
    border-style: solid;
    border-width: 1px;
    min-height: 24px;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}