.checkout-clear-both {
    clear: both;
}

#checkoutStepsPreload {
    display: none;
}
div.osc li.fields {
    width: 283px;
}

div.onestep-step {
    margin-bottom: 20px;
}
div.osc-column .step-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 10px 0;
}

div.one-field .field{
    float:left;
    margin-right: 10px;
    width: 100%;
}

ul.form-list div.input-box label {
    width: 235px;
}

div.osc-column-wrapper {
    padding: 5px;
    min-height: 200px;;
}
div.osc-column-wrapper h3 {
    font-size: 14px;
}
div.osc-column-wrapper div.osc-column {
    float: left;
}

#billing-address-select div.input-box,
#shipping-address-select div.input-box {
    padding: 10px 0;
}

div.osc-column-wrapper div.right {
    margin-right: 0;
}

div.osc-column-wrapper div.up,
div.osc-column-wrapper div.bottom {
    float: none;
    width: 100%;
    clear: both;
}

div.step-please-wait {
    float: left;
    margin: 0 15px;
}

div.step-title {
    float:left;
}

div.checkout-review-update-container {
    margin-bottom: 10px;
}

#review-submit-please-wait {
    float: left;
    margin: 10px;
}
#billing-address-select label,
#shipping-address-select label{
    width: 90%;
}

.page div.osc-column-wrapper .checkout-column.right{border-right-width: 0;}
#checkout-load-payment_method .sp-methods .form-list {
    padding-left: 0px;
}

#osc-column-center {
    height: 100%;
    min-height: 465px;
}

@media (min-width: 1025px) {
    #checkout-step-billing, #checkout-step-shipping, #checkout-step-shipping_method, #checkout-step-payment, #checkout-btn-checkout-bottom {
        width: 380px;
    }
}
@media (min-width: 780px)  and (max-width: 1024px) {
    #checkout-step-billing, #checkout-step-shipping, #checkout-step-shipping_method, #checkout-step-payment {
        width: 300px;
    }
}
@media screen and (max-width: 780px) {
    .page div.osc-column-wrapper .checkout-column{width: 100%;border-right-width: 0;padding-right: 10;}
    #checkout-step-shipping{padding: 0!important;}
    #checkout-step-shipping_method, #checkout-step-payment {padding:  0!important;}
    #checkout-step-billing, #checkout-step-shipping, #checkout-step-shipping_method, #checkout-step-payment {
        width: 100%;
    }
    .page div.osc-column-wrapper .checkout-column {padding-right: 0px;}
    #checkout-step-billing {padding:0;}
    .osc-column-wrapper button#order_submit_button.btn-checkout-top {
        margin-top: -13px;
        margin-bottom: 20px;
        width: 100%;
        float: none;
    }
    #osc-column-right #checkout-btn-checkout-bottom{padding: 0;}
    #checkout-step-billing{padding: 0!important;}
    #osc-column-center {
        height: 100%;
        min-height: 200px;
    }
}
#checkout-step-shipping, #checkout-step-shipping_method{padding: 0 14px 0 22px;}
#checkout-step-payment, #checkout-btn-checkout-bottom{padding: 0 0 0 22px}

.page .right-box, .field.right-box, .field.name-lastname {
    margin-right: 0px!important;
}
.osc-column-wrapper input[type=email],
.osc-column-wrapper input[type=search],
.osc-column-wrapper input[type=number],
.osc-column-wrapper input[type=password],
.osc-column-wrapper input[type=tel],
.osc-column-wrapper input[type=text],
.osc-column-wrapper .form-list select{
    width: 100%!important;
}
span.number {
    background: #636363;
    border: 1px solid #565656;
    border-radius: 38px;
    padding: 5px 9px;
    color: #fff;
}
ul.form-list input[type="radio"] {
    float: left;
    margin-right: 6px;
    margin-top: 5px;
}
#billing-new-address-form .fields,
#shipping-new-address-form .fields{
    clear: both;
}
.form-list .control label,
.sp-methods dt label,
#checkout-shipping-method-load .sp-methods dd label,
#co-shipping-method-form .sp-methods dd label,
.product-options ul.options-list label{
    width: 100%;
}
#checkout-review-table-wrapper #checkout-review-table tfoot tr td.a-right{
    width: 100px !important;
    padding: 5px;
}
login-method.method-one {
    border-right: 1px solid #dedede;
    padding-right: 20px;
}
.page p.required, .page .validation-advice {
    margin: 1px 0 0;
    color: red;
    font-size: 10px;
    font-weight: normal;
}
div.login-method {
    float: left;
    margin-right: 15px;
    border-right: 1px solid #dedede;
    padding-right: 20px;
    width: 45%
}

.login-method.login-method-left{border-right: none;}

.osc-column-wrapper .onestep-step label {
    width: 100% !important;
}
@-moz-document url-prefix() {
    .osc-column-wrapper .form-list .control label[for="shipping:save_in_address_book"] {
        width: 95% !important;
    }
    .form-list .control input.checkbox {
        margin-right: 3px !important;
        margin-left: 0 !important;
    }

}
div#checkout-review-table-wrapper thead tr th {
    font-size: 13px;
    font-weight: bold;
}
div#checkout-review-table-wrapper .data-table thead tr {
    border-bottom: 1px solid #dedede;
}
div#checkout-review-table-wrapper .data-table thead th{
    border-bottom: 1px solid #dedede;
}
div#checkout-review-table-wrapper .data-table tbody td {
    border-bottom: 1px solid silver;
}
div#checkout-review-table-wrapper .data-table tfoot tr{background: #dedede;}
#checkout-review-submit .buttons-set{border-top: 0px solid #fff;}
.login-method.login-method-left p {margin-top: 15px;}

button#order_submit_button.btn-checkout-top {
    margin-top: -54px;
    margin-right: -5px;
    width: 360px;
    float: right;
}
span.number.Order.Review {display: none;}

.shipping-address-same-as-billing { margin-bottom: 30px; }

/* Additional CSS */

/* Order review */
#checkout-review-table-wrapper .data-table td.a-right.last {
    text-align: center !important;
}
#checkout-step-review {
    padding: 20px 20px 0 20px;
    border: 1px solid #c0c0c0;
}
#checkout-step-login,
#osc-column-right,
#osc-column-bottom,
#osc-column-up + div.wrapper,
#osc-column-up + div.wrapper + .wrapper {
    padding: 20px 20px 0 20px;
    border: 1px solid #c0c0c0;
    border-top: 0;
}

/* Login and Resister */
#checkout-step-login .onestep-step .form-list {
    margin-top: 20px;
}

.form-list > li.control,
.form-list .control label {
    float:none;
}

.form-list .input-box {
    width: 256px;
}

#checkout-step-login ul.form-list input[type="radio"] {
    float:none;
    margin-right: 6px;
}

/* Billing and shipping */
#osc-column-up + div.wrapper,
#osc-column-up + div.wrapper + .wrapper {
    float: left;
}
#osc-column-left,
#osc-column-center,
.osc-column-right {
    float: left;
    margin-right: 15px;
    border-right: 1px solid #dedede;
    padding-right: 20px;
    width: 45%;
}
#osc-column-center {
    border-right: 0 !important;
}
#osc-column-center {
    border-left: none;
}
#osc-column-left .form-list label,
#shipping-new-address-form label,
#payment_form_cybersourcesop label,
#payment_form_ccsave label {
    display: block;
    text-align: left;
    float: none;
    width: 100%;
}

/* Payment onformation */
.payment-info {
    position: relative;
    width: 95%;
    padding-right: 23px !important;
    margin-bottom: 50px;
}
.payment-info #osc-column-right,
.payment-info + #osc-column-bottom {
    border: 0;
    padding: 0;
}
.payment-info #checkout-btn-checkout-bottom {
    float: left;
    padding: 20px 0;
}
.payment-info #osc-column-right {
    margin-bottom: 50px;
}

#checkout-load-payment_method dl dt {
    font-size: 13px !important;
}

#payment_form_cybersourcesop .cvv-what-is-this {
    padding-left: 10px;
}
.payment-info #osc-column-left {
    position: relative;
}

.payment-info #checkout-btn-checkout-bottom {
    position: absolute;
    bottom: 0;
}

.clear {
    clear: both;
    font-size: 0;
    line-height: 0;
}

