<?php $params = $this->getParams(); ?>

<ul class="profiles-list">
    <?php foreach($this->getItem() as $item):  ?>
    
    <li>
        <ul class="documentWrapper" onclick="resourceWindowSelect('<?php echo $item['name'].'|'.$item['id']?>','<?php echo $params['element'] ?>');return false;">
            <li class="documentLink">
                 <a href="#" title="<?php echo $item['id'];?>"><?php echo $item['name']; ?></a>
            </li>
        </ul>
    </li>
    
    <?php endforeach; ?>
</ul>
