<?php
?>
<div id="checkout_method-please-wait" class="step-please-wait" style="display: none">
        <span class="please-wait">
            <img
                src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                alt="<?php echo $this->__('Saving data, please wait...') ?>"
                title="<?php echo $this->__('Saving data, please wait...') ?>" class="v-middle" />
        </span>
</div>
<div class="checkout-clear-both"></div>
<div class="onestep-step">
    <div class="login-method">
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <h3><?php if ($this->getQuote()->isAllowedGuestCheckout()) : ?>
                <?php echo $this->__('Checkout as a Guest or Register') ?>
            <?php else: ?><?php echo $this->__('Register to Create an Account') ?>
            <?php endif; ?></h3>
            <ul class="form-list">
                <?php if ($this->getQuote()->isAllowedGuestCheckout()) : ?>
                    <li class="control">
                        <input
                            type="radio"
                            name="checkout_method"
                            id="login:guest" value="guest"
                            <?php if ($this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_GUEST) : ?>
                                checked="checked"
                            <?php endif; ?>
                            class="radio" />
                        <label for="login:guest"><?php echo $this->__('Checkout as Guest') ?></label>
                        <div class="validation-advice advice-required-entry-checkout_method" style="display:none">
                            <?php echo Mage::helper('checkout')->__('This is a required field.');?>
                        </div>
                    </li>
                <?php endif; ?>
                <li class="control">
                    <input
                        type="radio"
                        name="checkout_method"
                        id="login:register"
                        value="register"
                        <?php if ($this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER
                            || !$this->getQuote()->isAllowedGuestCheckout()) : ?>
                            checked="checked"
                        <?php endif ?>
                        class="radio" />
                    <label for="login:register"><?php echo $this->__('Register') ?></label>
                    <div class="validation-advice advice-required-entry-checkout_method" style="display:none">
                        <?php echo Mage::helper('checkout')->__('This is a required field.');?>
                    </div>
                </li>
            </ul>
    </div>
    <div class="login-method login-method-left">
        <h3><?php echo $this->__('Login') ?></h3>
        <p><?php echo $this->__('Already registered?') ?>
           <a href="/customer/account/login"><?php echo $this->__('Please log in') ?></a>
        </p>
    </div>
    <div class="checkout-clear-both"></div>
</div>
