<?php
?>

<div class="page-title">
    <h1><?php echo $this->__('Checkout') ?></h1>
</div>

<div class="osc-column-wrapper">
    <button
        type="button"
        title="<?php echo $this->__('Submit Order');?>"
        class="button btn-checkout btn-checkout-top"
        id="order_submit_button">
        <span><span><?php echo $this->__('Submit Order') ?></span></span>
    </button>
    <div id="osc-column-up" class="osc-column up">

    </div>
    <div class="wrapper">
        <div id="osc-column-left" class="osc-column left checkout-column">

        </div>
        <div id="osc-column-center" class="osc-column center checkout-column">

        </div>
    </div>

    <div class="wrapper payment-info">
        <div id="osc-column-left" class="osc-column right checkout-column">

        </div>
        <div id="osc-column-right" class="osc-column checkout-column">

            <div id="checkout-btn-checkout-bottom" class="one-field">
                <div class="field">
                    <div id="review-submit-please-wait" style="display: none">
                        <span>
                            <img
                                src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                                alt="<?php echo $this->__('Saving data, please wait...') ?>"
                                title="<?php echo $this->__('Saving data, please wait...') ?>" class="v-middle" />
                        </span>
                    </div>
                    <button
                        type="button"
                        title="<?php echo $this->__('Submit Order');?>"
                        class="button btn-checkout"
                        id="order_submit_button">
                        <span><span><?php echo $this->__('Submit Order') ?></span></span>
                    </button>
                </div>
            </div>

        </div>

        <div class="checkout-clear-both"></div>
    </div>
    <div id="osc-column-bottom" class="osc-column bottom"></div>

</div>


<div id="checkoutStepsPreload" >
    <?php
    $i = 0;
    foreach ($this->getSteps() as $stepId => $stepInfo): ?>
        <?php if (!$this->getChild($stepId) || !$this->getChild($stepId)->isShow()): continue; endif; $i++ ?>
        <div id="osc-<?php echo $stepId ?>" class="section<?php echo !empty($stepInfo['complete'])?' saved':'' ?>">
            <div id="checkout-step-<?php echo $stepId ?>" class="step a-item">
                <div class="step-title">
                    <span class="number <?php echo $stepInfo['label'] ?>"><?php echo $i ?></span>
                    <span class="step-title"><?php echo $stepInfo['label'] ?></span>
                </div>
                <?php echo $this->getChildHtml($stepId) ?>
            </div>
        </div>
    <?php endforeach ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    var baseUrl = '<?php echo  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_LINK, true); ?>';
    //]]>
</script>
<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/MethodStep.js') ?>"
    ></script>
<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Checkout.js') ?>"
    ></script>

<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Login.js') ?>"
    ></script>

<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Billing.js') ?>"
    ></script>

<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Shipping.js') ?>"
    ></script>

<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/ShippingMethod.js') ?>"
    ></script>

<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Payment.js') ?>"
    ></script>
<?php if ($this->isCyberEnabled(Mage::app()->getStore()->getId())) :?>
    <script
        type="text/javascript"
        src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/ReviewCyber.js') ?>"
        ></script>
<?php else: ?>
<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/classes/Review.js') ?>"
    ></script>
<?php endif; ?>
<script
    type="text/javascript"
    src="<?php echo $this->getSkinUrl('js/cybersource/onestepcheckout/onestep.js') ?>"
    ></script>