<?php
?>
<div id="payment_method-please-wait" class="step-please-wait" style="display: none">
        <span class="please-wait">
            <img
                src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                alt="<?php echo $this->__('Saving data, please wait...') ?>"
                title="<?php echo $this->__('Saving data, please wait...') ?>" class="v-middle" />
        </span>
</div>
<div class="checkout-clear-both"></div>
<div class="onestep-step">
    <form id="co-payment-form">
        <fieldset>
            <div id="checkout-load-payment_method">
                <?php echo $this->getChildHtml('methods') ?>
            </div>
        </fieldset>
        <div id="reload-payment-method">
            <a href="#" id="reload-payment-method-button"><?php echo $this->__('Update payment options');?></a>
        </div>
    </form>
    <div class="tool-tip" id="payment-tool-tip" style="display:none;">
        <div class="btn-close">
            <a href="#" id="payment-tool-tip-close" title="<?php echo $this->__('Close') ?>">
                <?php echo $this->__('Close') ?>
            </a>
        </div>
        <div class="tool-tip-content">
            <img
                src="<?php echo $this->getSkinUrl('images/cvv.gif') ?>"
                alt="<?php echo $this->__('Card Verification Number Visual Reference') ?>"
                title="<?php echo $this->__('Card Verification Number Visual Reference') ?>" />
        </div>
    </div>
</div>
<script type="text/javascript">
    //<![CDATA[
    function toggleToolTip(event){
        if($('payment-tool-tip')){
            $('payment-tool-tip').setStyle({
                top: (Event.pointerY(event)-560)+'px'//,
            })
            $('payment-tool-tip').toggle();
        }
        Event.stop(event);
    }
    if($('payment-tool-tip-close')){
        Event.observe($('payment-tool-tip-close'), 'click', toggleToolTip);
    }
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
 var currentPaymentMethod = "<?php echo $this->getChild('methods')->getSelectedMethodCode() ?>";
    //]]>
</script>
<div id="payment_method-advice-source" style="display: none">
    <div class="validation-advice advice-required-entry-payment_method" style="display:none">
        <?php echo Mage::helper('checkout')->__('This is a required field.');?>
    </div>
</div>