.main.container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.designcollaboration .product-box {
    padding-right: 20px;
}

.designcollaboration .top-buttons {
    margin-bottom: 0px;
}
