h3.name-design {
    margin: 0 0 15px;
}

ul.messages {
    margin-top: 20px;
    margin-bottom: 0;
}

.fancybox-wrap .wrapper .main-container {
    min-height: 100px;
    padding: 0px;
}

.page-history {
    text-align: left;
}

.page-history .content {
    margin: 15px;
    display: inline-block;
    text-align: left;
    max-width: 250px;
    vertical-align: text-top;
}

.page-history .content img {
    padding: 5px;
    border: 1px solid #f0f0f0;
    max-width: 250px;
}

.page-history .content img:hover {
    border: 1px solid #008acc;
}

.page-history .content .comment {
    margin: 10px 0;
    padding: 1px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-history .content .data-name {
    margin: 10px 0;
}

.page-history .btn-silver button span {
    background: silver;
    cursor: default;
}

.page-history .content .comment .status {
    text-decoration: underline;
    color: #424242;
    margin-bottom: 5px;
}

.messages li {
    margin: 0;
}