.fancybox-wrap .wrapper .main-container {
    min-height: 100px;
    padding: 0px;
}

/* icon-share */
.designcollaboration .btn-icon-share {
    position: relative;
    display: inline-block;
    width: 22px;
    height: 15px;
    text-indent: -9999px;
    font-size: 14px;
}

.designcollaboration .btn-icon-share:before {
    content: "\e85b";
    display: block;
    top: 0;
    bottom: 0;
    font-family: "porto";
    text-align: right
}

/* icon-blocked */
.designcollaboration .btn-icon-blocked {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    font-size: 14px;
}

.designcollaboration .btn-icon-blocked:before {
    content: "\e830";
    display: block;
    top: 0;
    bottom: 0;
    font-family: "porto";
    text-align: right
}

.designcollaboration .btn-sharing:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* icon-circle */
.designcollaboration .btn-icon-circle {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    font-size: 18px;
}

.designcollaboration .btn-icon-circle:before {
    content: "\e860";
    display: block;
    top: 0;
    bottom: 0;
    font-family: "porto";
    text-align: right
}

.designcollaboration .btn-icon-circle.circle-red {
    color: #cf2a27;
}

.designcollaboration .btn-icon-circle.circle-yellow {
    color: #ffff00;
}

.designcollaboration .btn-icon-circle.circle-green {
    color: #009e0f;
}

.designcollaboration .comments-right {
    border: 1px solid #ececec;
    border-radius: 8px;
    background: #fff;
    background: -webkit-linear-gradient(#fff, #f9f9f9);
    background: -o-linear-gradient(#fff, #f9f9f9);
    background: -moz-linear-gradient(#fff, #f9f9f9);
    background: linear-gradient(#fff, #f9f9f9);
    border-top: 4px solid #08c;
    padding: 25px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
}

.designcollaboration .locked {
    font-style: italic;
    color: #000000;
    pointer-events: none;
}

.designcollaboration .status-block .status-locked {
    font-style: italic;
}

.designcollaboration .status-block .status-pending {
    font-style: italic;
}

.designcollaboration .latest-comment .name {
    margin: 4px 0;
}

.designcollaboration .latest-comment .txt {
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.designcollaboration span {
    line-height: normal;
}

.designcollaboration .status-block {
    display: inline-flex;
}

.designcollaboration .status-block .status-icon {
    margin: auto 5px auto 0;
    height: 100%;
}

.designcollaboration .btn-remove2 {
    width: 20px;
    height: 28px;
}

.designcollaboration .igm-view {
    max-width: 80px;
    max-height: 150px;
}

.designcollaboration a.design-title {
    display: inline-block;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
}

.designcollaboration tr td.center {
    text-align: center;
}

.designcollaboration .igm-view:hover {
    cursor: pointer;
}

.designcollaboration .display-flex {
    display: flex;
}

.designcollaboration .button-back,
.designcollaboration .button-share,
.designcollaboration .button-edit-design {
    margin-right: 10px;
}

.designcollaboration .block-name {
    display: flex;
    width: 100%;
}

.designcollaboration .block-name-style {
    text-align: center;
    width: 100%;
}

.designcollaboration .block-name-style.product-name {
    margin: 0;
}

.designcollaboration .block-name-style h1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.designcollaboration .row {
    margin-left: 0;
    margin-right: 0;
}

.designcollaboration .content-left {
    width: 100%;
    text-align: center;
}

.designcollaboration .comments-right .latest-comment {
    margin-bottom: 10px;
}

.designcollaboration .latest-comment .status {
    text-decoration: underline;
    color: #424242;
}

.designcollaboration .comments-right .latest-comment .txt {
    line-height: 16px;
}

.designcollaboration .comments-right .receive-notifications,
.designcollaboration .comments-right .loader-receive-notifications {
    margin-top: 3px;
    width: 100%;
    text-align: right;
}

.designcollaboration .comments-right .loader-receive-notifications {
    margin-right: 80px;
}

.designcollaboration .comments-right .receive-notifications label:hover {
    cursor: pointer;
}

.designcollaboration .comments-right .receive-notifications input {
    margin: 0;
}

.designcollaboration .comments-right .style-textarea {
    width: 100%;
    height: 70px;
    resize: none;
}

.designcollaboration .comments-right .block-post {
    display: flex;
    margin: 10px 0;
}

.designcollaboration .comments-right .block-post .count-chars {
    width: 100%;
    margin-top: 12px;
}

.designcollaboration a.morelink {
    text-decoration: none;
    outline: none;
    display: block;
    font-weight: bold;
    color: #00a7e1;
}

.designcollaboration .morecontent span {
    display: none;
}

.designcollaboration .top-buttons {
    margin-bottom: 20px;
}

.designcollaboration .product-box {
    padding: 0;
    text-align: center;
}

.designcollaboration .rigth-block-buttons .buttons-set2 {
    margin-right: 10px;
}

.designcollaboration .rigth-block-buttons .btn-silver button span,
.designcollaboration .comments-right .block-post .btn-post-disabled span{
    background: silver;
    cursor: default;
}

.designcollaboration .rigth-block-buttons .btn-green button span {
    background: #009e0f;
}

.designcollaboration .rigth-block-buttons .btn-red button span {
    background: #cf2a27;
}

.designcollaboration .comments-right .loader-notifications {
    width: 16px;
    height: 16px;
}

.designcollaboration.designcollaboration-edit .product-name {
    margin-right: 10px;
}

.designcollaboration.designcollaboration-edit .content {
    text-align: center;
}

.designcollaboration .pager .amount {
    /*display: block;*/
}

.designcollaboration .pager .limiter {
    padding-left: 5px;
}

input#design_name {
    margin: 0px 0px 20px 0px;
    display: block;
    vertical-align: middle;
    height: 38px;
    width: 100%;
    font-size: 18px;
    text-align: left;
    color: #08c;
    border-color: #e1e1e1;
}

@media (min-width: 1200px) {
    .designcollaboration .block-name-style h1 {
        max-width: 620px;
    }

    .designcollaboration .product-box {
        width: calc(100% - 350px);
        float: left;
    }

    .designcollaboration .product-box img {
        max-width: 650px;
    }

    .designcollaboration .latest-comment .txt {
        max-width: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .designcollaboration .block-name-style h1 {
        max-width: 430px;
    }

    .designcollaboration .product-box {
        width: calc(100% - 350px);
        float: left;
    }

    .designcollaboration .product-box img {
        max-width: 550px;
    }

    .designcollaboration .latest-comment .txt {
        max-width: 450px;
        text-align: justify;
    }
}

@media (max-width: 991px) {
    .designcollaboration .block-name-style h1 {
        max-width: 430px;
    }

    .designcollaboration .top-buttons .block-name .product-name h1 {
        margin: 10px 0;
    }

    .designcollaboration .product-box img {
        width: 100%;
    }

    .designcollaboration .comments-right {
        margin-top: 10px;
    }

    .designcollaboration .latest-comment .txt {
        max-width: 450px;
        text-align: justify;
    }
}

@media (min-width: 992px) {
    .designcollaboration .top-buttons {
        display: flex;
    }

    .designcollaboration .top-buttons .block-name .product-name h1 {
        margin: 5px 0 0 0;
    }

    .designcollaboration .comments-right {
        float: right;
        width: 350px;
    }
}

@media (min-width: 390px) {
    .designcollaboration .rigth-block-buttons {
        display: flex;
    }
}

@media (max-width: 389px) {
    .designcollaboration .rigth-block-buttons .buttons-set2 {
        margin-top: 10px;
    }

    .designcollaboration .latest-comment .txt {
        max-width: 250px;
    }
}
