<?php echo $this->getMessagesBlock()->toHtml() ?>
<?php $_orders = $this->getRequisitions();?>
    <div class="page-title">
        <h1><?php echo $this->__('My Approvals') ?></h1>
    </div>
<?php echo $this->getPagerHtml(); ?>
<?php
if ($_orders != NULL) {
    if ($_orders->count() > 0): ?>
        <table class="data-table" id="my-orders-table">
            <col width="1"/>
            <col width="1"/>
            <col/>
            <col width="1"/>
            <col width="1"/>
            <col width="1"/>
            <thead>
            <tr>
                <th><?php echo $this->__('Requisition #') ?></th>
                <th><?php echo $this->__('Date') ?></th>
                <th><?php echo $this->__('Submitted by') ?></th>
                <th><?php echo $this->__('Cost Center') ?></th>
                <th><span class="nobr"><?php echo $this->__('Order Total') ?></span></th>
                <th><span class="nobr"><?php echo $this->__('Order Status') ?></span></th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <?php $_odd = ''; ?>
            <?php foreach ($_orders as $_order):
                $costCenter = $_order->getData(); ?>
                <tr>
                    <td><?php echo $_order->getEntityId() ?></td>
                    <td><span class="nobr"><?php echo $this->formatDate($_order->getCreatedAt()) ?></span></td>
                    <!-- <td><?php echo $_order->getShippingAddress() ? $this->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></td> -->
                    <td><?php echo $_order->getCustomer()->getName() ?></td>
                    <td><?php echo $costCenter['customer_cost_center'] ?></td>
                    <td><?php echo '$' . number_format($_order->getGrandTotal(), 2); ?></td>
                    <td>
                        <em><?php echo Mage::helper('myapprovals')->approvalStateName($_order->getApprovalState()); ?></em>
                    </td>
                    <td class="a-center">
                <span class="nobr"><a class="review-req"
                                      href="<?php echo $this->getViewUrl($_order) ?>"><?php echo $this->__('Review Requisition') ?></a> <br/>
	               <a href="<?php echo Mage::getUrl('myapprovals/index/approve', array('id' => $_order->getEntityId())); ?>"
                      class="link-approve"><?php echo $this->__('Approve') ?></a> <span class="separator">|</span> <a
                            href="#" class="link-deny"><?php echo $this->__('Deny') ?></a>
                </span>
                        <div class="reject-form">
                            <div class="form-container">
                                <h3>Reason for Denial</h3>
                                <form action="<?php echo Mage::getUrl('myapprovals/index/deny'); ?>">
                                    <input type="hidden" name="id" value="<?php echo $_order->getEntityId(); ?>"/>
                                    <textarea size="4" name="note"></textarea>
                                    <input class="cancel-button" type="button" value="Cancel"/>
                                    <input type="submit" value="Deny Requisition"/>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <style type="text/css">
            .reject-form {
                z-index: 99999;
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .reject-form .form-container {
                width: 360px;
                margin: 100px auto 0;
                display: inline-block;
                background-color: #fff;
                border-radius: 5px;
                padding: 10px;
            }

            .reject-form form {
                width: 100%;
                display: inline-block;
            }

            .reject-form form textarea {
                width: 100%;
                height: 10em;
                margin: 10px 0;
            }

            .reject-form input[type="submit"], .reject-form input[type="button"] {
                background-color: #333;
                color: #fff;
                padding: 8px;
                border: none;
                border-radius: 3px;
            }

            .reject-form input[type="submit"]:hover, .reject-form input[type="button"]:hover {
                background-color: #555;
            }
        </style>
        <script type="text/javascript">
            decorateTable('my-orders-table');
            (function ($) {
                $('.reject-form').hide();
                $('.link-deny').on('click', function (e) {
                    $(this).closest('tr').find('.reject-form').show();
                });
                $('.cancel-button').on('click', function (e) {
                    $(this).closest('.reject-form').hide();
                });
            })(jQuery);
        </script>
        <?php echo $this->getPagerHtml(); ?>
    <?php else: ?>
        <p><?php echo $this->__('You are all caught up! No requisitions need your approval.'); ?></p>
    <?php endif;

} else {
    ?>
    <p><?php echo $this->__('You need to be an Approver to approve Requisitions.'); ?></p>
<?php }
?>