<?php
/** @var $this Cybersource_Paypal_Block_Review */
?>


<!--<div class="page-title">-->
<!--    <h1>--><?php //echo $this->__('Review Order') ?><!--</h1>-->
<!--</div>-->
<!---->
<?php //echo $this->getBillingAddressHtml() ?>
<?php //echo $this->getShippingAddressHtml() ?>

<div class="page-title">
    <h1><?php echo $this->__('Review Order') ?></h1>
</div>
<?php echo $this->getMessagesBlock()->toHtml() ?>
<?php if ($this->getShippingAddress()): ?>
    <div class="info-set col2-set">
        <h2 class="legend"><?php echo $this->__('Shipping Information') ?></h2>
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h3><?php echo $this->__('Shipping Address') ?><span class="separator"><?php if ($this->getCanEditShippingAddress()):?> | </span><a href="<?php echo $this->getEditUrl() ?>"><?php echo $this->__('Edit') ?></a><?php endif;?></h3>
                </div>
                <div class="box-content">
                    <address><?php echo $this->renderAddress($this->getShippingAddress())?></address>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="box">
                <div class="box-title">
                    <h3><?php echo $this->__('Shipping Method') ?></h3>
                </div>
                <div class="box-content">
                    <form method="post" id="shipping_method_form" action="<?php echo $this->escapeHtml($this->getShippingMethodSubmitUrl()) ?>">
                        <?php if (!$this->getCurrentShippingRate()):?>
                            <p><strong><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></strong></p>
                        <?php else: ?>
                            <p><strong><?php echo $this->renderShippingRateOption($this->getCurrentShippingRate())?></strong></p>
                        <?php endif; ?>
                    </form>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>

<div class="info-set col2-set">
    <h2 class="legend"><?php echo $this->__('Billing Information') ?></h2>
    <div class="col-1">
        <div class="box">
            <div class="box-title">
                <h3><?php echo $this->__('Payment Method') ?></h3>
            </div>
            <div class="box-content">
                <?php echo $this->escapeHtml($this->getPaymentMethodTitle()) ?>
            </div>
        </div>
    </div>
</div>

<div class="info-set">
    <h2 class="legend"><?php echo $this->__('Items in Your Shopping Cart') ?></h2>
    <div id="details-reload">
        <?php echo $this->getChildHtml('details') ?>
    </div>
</div>
<form method="post" id="order_review_form" action="<?php echo  $this->getUrl('cybersourcepaypal/index/placeOrder'); ?>">
    <?php echo $this->getChildHtml('agreements'); ?>
    <div class="buttons-set buttons-set-order" id="review-buttons-container">
        <button type="submit" title="<?php echo $this->__('Place Order') ?>" class="button btn-checkout"><span><span><?php echo $this->__('Place Order') ?></span></span></button>
    </div>
</form>







