/* Misc visuals
	----------------------------------*/

#qty.report-checkbox {
    display: inline !important;
}
/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-tabs {
    position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    padding: .2em;
}

.ui-tabs .ui-tabs-nav {
    border: 0;
    margin: 0;
    padding: 0;
}

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    border-bottom-width: 0;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    width: 100%;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: text;
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
    cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

/* Component containers
----------------------------------*/
.ui-widget {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    font-size: 1em;
}

.ui-widget.ui-widget-content {
    border: 1px solid #dddddd;
    padding: 0;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #444444;
}

.ui-widget-content a {
    color: #444444;
}

.ui-widget-header {
    border: 1px solid #fff;
    background: #dddddd url("images/ui-bg_highlight-soft_0_dddddd_1x100.png") 50% 50% repeat-x;
    color: #444444;
    font-weight: bold;
}

.ui-widget-header a {
    color: #444444;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
    /* We use html here because we need a greater specificity to make sure disabled
    works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #dddddd;
    background: #f6f6f6 url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #777;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #777;
    text-decoration: none;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #fff;
    background: #fff url("images/ui-bg_highlight-soft_25_0073ea_1x100.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #000;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #000;
    text-decoration: none;
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px rgb(94, 158, 214);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #dddddd;
    background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #000;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #dddddd;
    background-color: #000;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #000;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #444444;
}

.ui-state-checked {
    border: 1px solid #cccccc;
    background: #ffffff;
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #444444;
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #ff0084;
    background: #ffffff;
    color: #222222;
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #222222;
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #222222;
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold;
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70); /* support: IE8 */
    font-weight: normal;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35); /* support: IE8 */
    background-image: none;
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35); /* support: IE8 - See #6059 */
}

/* Corner radius */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 0px;
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 0px;
}



.ui-tabs-vertical {
    background : #dddddd;
}
.ui-tabs-vertical .ui-tabs-nav {
    padding: 0;
    float: left;
    width: 30%;
}

.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
    border-top: 0;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0;
    padding-right: 0em;
    border-width: 0px !important;
    border-bottom-width:2px !important;
}

.ui-tabs-vertical .ui-tabs-panel {
    padding: 1em;
    float: right;
    width: 70%;
}

.ui-tabs .ui-tabs-panel {
    padding: 0;
}

#tabs-reports{
    border: 0;
    padding: 0;
}

.ui-tabs-panel .vertical-tabs-tabs,
.ui-tabs .ui-tabs-panel.vertical-tabs-content{
    border: 0;
    height: 350px;
    overflow: auto;
}

.ui-tabs .ui-tabs-panel.vertical-tabs-content{
    padding: 15px;
    padding-top: 0;
    background: #fff;
}

.vertical-tabs-content li {
    border-bottom: 1px solid #e9e9e9;
    border-radius: 0;
    /*margin-bottom: 10px;*/
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 12px;
}

.vertical-tabs-content li:nth-child(even) {
    background-color: #eee;
}

.vertical-tabs-content li label{
    font-size: 1.1em;
    margin-top:3px;
}

.buttons {
    margin: 20px 0;
}
#dialog-form fieldset {
    padding-top: 10px;
}

#dates-container .label{
    font-weight: bold
}
#dates-container {
    margin: 10px 0 0
}

#date_range_end_label{
    margin: 0px 5px;
}
