<?php
?>

<div style="float:right; display: none">
    <div id="review-submit-please-wait-div" style="display: none">
        <span>
            <img
                src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
                alt="<?php echo $this->__('Saving data, please wait...') ?>"
                title="<?php echo $this->__('Saving data, please wait...') ?>" class="v-middle" />
        </span>
    </div>
    <button
        type="button"
        title="<?php echo $this->__('Submit order');?>"
        class="button btn-checkout"
        id="order_submit_button">

        <span><span><?php echo $this->__('Submit order') ?></span></span>
    </button>

</div>

<script type="text/javascript">
    //<![CDATA[
    var buttonUpdateText = '<?php echo $this->__('Submit order') ?>',
        buttonSaveText = '<?php echo $this->__('Submit order') ?>',
        buttonWaitText = '<?php echo $this->__('Please wait...') ?>';
        //]]>
</script>
