<?php $params = $this->getParams(); ?>
<?php if (isset($params['resourceType'])): ?>
    <h3><?php echo $this->__($params['resourceType']); ?></h3>
<?php endif; ?>

<ul class="profiles-list">
    <?php foreach ($this->getItem() as $item): ?>

        <li>
            <ul class="documentWrapper"
                onclick="resourceWindowSelectEditor('<?php echo $item['name'] . '|' . $item['id'] ?>','<?php echo $params['element'] ?>');return false;">
                <li class="documentLink">
                    <a href="#" title="<?php echo $item['id']; ?>"><?php echo $item['name']; ?></a>
                </li>
            </ul>
        </li>

    <?php endforeach; ?>
</ul>
