<?php 
    $data = $this->getData();
?>

<div id="<?php echo $this->getHtmlId(); ?>_container"
     class="profiles_popup_container"
     style="width: 366px;">
    <?php 
        $value = '';
        if($this->getValue()){
            $value = explode( '|', $this->getValue());
            $value = $value[0];
        }
    ?>
    
    <input type="text"
           id="<?php echo $this->getHtmlId(); ?>_value"
           class="input-text profile-result"
           name=""
           value="<?php echo $value;?>"
           disabled />
    <input type="hidden"
           id="<?php echo $this->getHtmlId(); ?>"
           class="hidden profile-result"
           name="<?php echo $this->getName(); ?>"
           value="<?php echo $this->getValue(); ?>"/>
    <button id="<?php echo $this->getHtmlId() ?>_button"
            type="button"
            class="scalable add"
            onclick="openResourceBrowser(
                '<?php echo $this->getUrl('adminhtml/ajax/getprofiles', array('website'=>$this->getRequest()->getParam('website'), 'element'=>$this->getHtmlId()))?>',
                '#<?php echo $this->getHtmlId() ?>'
            );">
        <span>Browse</span>
    </button>

    <button onclick="clearValue(<?php echo $this->getHtmlId();?>)"
            class="clearBtn scalable"
            type="button">
        <span>Clear</span>
    </button>
</div>
