<div id="modal-approve">
    <div class="page-title">
        <h1><?php echo $this->__('Approve Design') ?></h1>
    </div>

    <div class="form-wrap">
        <div class="input-block">
            <p><?php echo $this->__('Do you want to approve the design <b>"' . $design->getDesignname() . '"</b> ?') ?></p>
        </div>

        <div class="block-buttons">
            <button type="button" class="button btn-approve">
                <span><?php echo $this->__('Approve') ?></span>
            </button>
            <button type="button" class="button btn-cancel">
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        initAction();
    });

    function initAction() {
        jQuery("#modal-approve").find('.btn-approve').unbind('click');
        jQuery("#modal-approve").find('.btn-approve').bind('click', function () {
            btnApprove();
        });
        jQuery("#modal-approve").find('.btn-cancel').unbind('click');
        jQuery("#modal-approve").find('.btn-cancel').bind('click', function () {
            cancelModal();
        });
    }

    function actionBtnApprove() {
        jQuery('#loading-mask').show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/approvedesign') ?>",
            dataType: 'json',
            data: {
                designId: <?php echo $design->getDesignId(); ?>
            },
            success: function (result) {
                if (result.success == 1) {
                    jQuery('#loading-mask').hide();
                    fancyboxProxy.close();
                    location.reload();
                } else {
                    alert(result.message);
                    location.href = '<?php echo $this->getUrl('designcollaboration') ?>'
                }
            }
        });
    }

    function cancelModal() {
        fancyboxProxy.close();
    }
    function btnApprove() {
        actionBtnApprove();
    }

</script>