<div class="block-subscribe" id="design_popup">
    <div class="page-title">
        <h1><?php echo $this->__('Create New Designs') ?></h1>
    </div>

    <div class="form-wrap">
        <p><?php echo $this->__('To save this item to your designs, enter a name for this design and select the Save button.') ?></p>
        <label class="required"><em>*</em><?php echo $this->__('Design Name') ?></label>
        <input type="text" id="design_name" value="<?php echo $design->getDesignname(); ?>" class="input-text">
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div class="block-buttons">
            <button type="button" class="button btn-close">
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
            <button type="button" class="button btn-save">
                <span><?php echo $this->__('Save') ?></span>
            </button>
        </div>
    </div>

</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        initAction();
    });

    function initAction() {
        jQuery("#design_popup").find('.btn-close').unbind('click');
        jQuery("#design_popup").find('.btn-close').bind('click', function () {
            closeSave();
        });
        jQuery("#design_popup").find('.btn-save').unbind('click');
        jQuery("#design_popup").find('.btn-save').bind('click', function () {
            saveDesignDB();
        });
    }

    function saveDesignDB() {
        var name  = jQuery.trim(jQuery("#design_name").val());
        if (/^[\W\w]{1,170}$/.test(name)) {
            jQuery('#loading-mask').show();
            jQuery.ajax({
                url: "<?php echo $this->getUrl('designcollaboration/ajax/savedesign') ?>",
                dataType: 'json',
                data: {
                    documentId: '<?php echo $design->getFinelinkItemId(); ?>',
                    designName: name,
                    productId: '<?php echo $design->getProductId(); ?>'
                },
                success: function (data) {
                    if (data.success == 1) {
                        location.href = '<?php echo Mage::helper('designcollaboration')->getViewUrl(); ?>' + 'id/' + data.insertedId;
                    } else {
                        alert(data.message);
                        jQuery('#loading-mask').hide();
                        closeSave();
                    }
                }
            });
        } else {
            jQuery("#design_name").addClass("validate");
            if (name.length > 170) {
                alert('<?php echo $this->__('Long design name') ?>');
            }
        }
    }

    function closeSave() {
        fancyboxProxy.close();
    }
</script>