<div id="modal-restore">
    <div class="page-title">
        <h1><?php echo $this->__('Comment for Restoration') ?></h1>
    </div>

    <div class="form-wrap">
        <p><?php echo $this->__('To restore this version, enter a comment and select Save and Restore. This action will revoke any previously granted design approval.') ?>
            <span class="required"><em>*</em></span></p>
        <textarea class="style-textarea"
                  id="msg-save-and-restore"
                  name="message"
                  placeholder="<?php echo $this->__('Please enter a comment...') ?>"></textarea>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div class="block-bottom">
            <div class="count-chars">
                (<span class="counter">250</span>) <?php echo $this->__('Characters Left') ?>
            </div>
            <div class="block-buttons">
                <button type="button" class="button btn-cancel">
                    <span><?php echo $this->__('Cancel') ?></span>
                </button>
                <button type="button" class="button btn-save-and-restore">
                    <span><?php echo $this->__('Save and Restore') ?></span>
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        initAction();

        jQuery('#msg-save-and-restore').keyup(function () {
            var msg = jQuery('#msg-save-and-restore').val();
            var maxlength = 250;
            var msglength = msg.length;
            jQuery(this).val(msg.slice(0, maxlength));
            if (msglength > maxlength) msglength = maxlength;
            jQuery('.counter').html(maxlength - msglength);
        });

    });

    function initAction() {
        jQuery("#modal-restore").find('.btn-save-and-restore').unbind('click');
        jQuery("#modal-restore").find('.btn-save-and-restore').bind('click', function () {
            actionRestore();
        });
        jQuery("#modal-restore").find('.btn-cancel').unbind('click');
        jQuery("#modal-restore").find('.btn-cancel').bind('click', function () {
            cancelModal();
        });
    }

    function actionRestore() {
        var message = jQuery.trim(jQuery("#msg-save-and-restore").val());
        if (/^[\W\w]+$/.test(message)) {
            jQuery('#loading-mask').show();
            jQuery.ajax({
                url: "<?php echo $this->getUrl('designcollaboration/ajax/restoredesign') ?>",
                dataType: 'json',
                data: {
                    historyId: <?php echo $history->getHistoryId(); ?>,
                    message: message
                },
                success: function (result) {
                    if (result.success == 1) {
                        fancyboxProxy.close();
                    } else {
                        alert(result.message);
                    }
                    location.href = '<?php echo $this->getUrl('designcollaboration') ?>';
                    jQuery('#loading-mask').hide();
                }
            });
        } else {
            jQuery("#msg-save-and-restore").addClass("validate");
        }
    }

    function cancelModal() {
        fancyboxProxy.close();
    }

</script>