<div id="modal-approve">
    <div class="page-title">
        <h1><?php echo ($showRevoke == 'true') ? $this->__('Revoke Approval') : $this->__('Deny Design'); ?></h1>
    </div>

    <div class="form-wrap">
        <div class="input-block">
            <p><?php echo ($showRevoke == 'true')
                    ? $this->__('Do you want to revoke approval for the design <b>"%s"</b> ?', $design->getDesignname())
                    : $this->__('Do you want to deny the design  <b>"%s"</b> ?', $design->getDesignname()) ?></p>
        </div>

        <div class="block-buttons">
            <button type="button" class="button btnRevokeOrDeny">
            <?php if ($showRevoke == 'true'): ?>
                <span><?php echo $this->__('Revoke Approval') ?></span>
            <?php else: ?>
                <span><?php echo $this->__('Deny Design') ?></span>
            <?php endif; ?>
            </button>
            <button type="button" class="button btn-cancel">
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        initAction();
    });

    function initAction() {
        jQuery("#modal-approve").find('.btnRevokeOrDeny').unbind('click');
        jQuery("#modal-approve").find('.btnRevokeOrDeny').bind('click', function () {
            btnRevokeOrDeny();
        });
        jQuery("#modal-approve").find('.btn-cancel').unbind('click');
        jQuery("#modal-approve").find('.btn-cancel').bind('click', function () {
            cancelModal();
        });
    }

    function actionBtnRevokeOrDeny() {
        jQuery('#loading-mask').show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/revokeordenydesign') ?>",
            dataType: 'json',
            data: {
                designId: <?php echo $design->getDesignId(); ?>
            },
            success: function (result) {
                if (result.success == 1) {
                    jQuery('#loading-mask').hide();
                    fancyboxProxy.close();
                } else {
                    alert(result.message);
                }
                location.href = '<?php echo $this->getUrl('designcollaboration') ?>'
            }
        });
    }

    function cancelModal() {
        fancyboxProxy.close();
    }
    function btnRevokeOrDeny() {
        actionBtnRevokeOrDeny();
    }

</script>