<div id="save-and-unlock-settings">
    <div class="page-title">
        <h1><?php echo $this->__('Comment for Changes') ?></h1>
    </div>

    <div class="form-wrap">
        <p><?php echo $this->__('Please enter a comment for these changes.') ?><span class="required"><em>*</em></span></p>
        <textarea class="style-textarea"
                  id="msg-save-and-unlock"
                  name="message"
                  placeholder="<?php echo $this->__('Please enter a comment...') ?>"></textarea>
        <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        <div class="block-bottom">
            <div class="count-chars">
                (<span class="counter">250</span>) <?php echo $this->__('Characters Left') ?>
            </div>
            <div class="block-buttons">
                <button type="button" class="button btn-close">
                    <span><?php echo $this->__('Cancel') ?></span>
                </button>
                <button type="button" class="button btn-save-and-unlock" >
                    <span><?php echo $this->__('Save and Unlock') ?></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    jQuery(document).ready(function () {

        initAction();

        jQuery('#msg-save-and-unlock').keyup(function () {
            var msg = jQuery('#msg-save-and-unlock').val();
            var maxlength = 250;
            var msglength = msg.length;
            jQuery(this).val(msg.slice(0, maxlength));
            if (msglength > maxlength) msglength = maxlength;
            jQuery('.counter').html(maxlength - msglength);
        });

    });

    function initAction() {
        jQuery("#save-and-unlock-settings").find('.btn-close').unbind('click');
        jQuery("#save-and-unlock-settings").find('.btn-close').bind('click', function(){
            closeModal();
        });

        jQuery("#save-and-unlock-settings").find('.btn-save-and-unlock').unbind('click');
        jQuery("#save-and-unlock-settings").find('.btn-save-and-unlock').bind('click', function(){
            saveAndUnlockModal();
        });
    }

    function closeModal() {
        fancyboxProxy.close();
    }

    function saveAndUnlockModal() {
        var name = jQuery.trim(jQuery("#msg-save-and-unlock").val());
        var designName = jQuery.trim(jQuery("#design_name").val());
        if (/^[\W\w]+$/.test(name) && /^[\W\w]{1,170}$/.test(designName)) {
            jQuery('#loading-mask').show();
            jQuery.ajax({
                type: 'POST',
                url: "<?php echo $this->getUrl('designcollaboration/ajax/saveandunlock') ?>",
                dataType : 'json',
                data: {
                    designId: <?php echo $design->getDesignId(); ?>,
                    documentId: '<?php echo $design->getFinelinkItemId(); ?>',
                    message: name,
                    designName: designName,
                    editorXML: editor ? editor.ExecuteFunction("document", "GetTempXML") : ""
                },
                success: function(result) {
                    if (result.success == 1) {
                        fancyboxProxy.close();
                    } else {
                        alert(result.message);
                    }
                    location.href = '<?php echo $this->getUrl('designcollaboration') ?>';
                    jQuery('#loading-mask').hide();
                }
            });
        } else {
            if (designName.length > 170) {
                alert('<?php echo $this->__('Long new design name') ?>');
            }
            jQuery("#msg-save-and-unlock").addClass("validate");
        }
    }

</script>