<div id="modal-approve">
    <div class="page-title">
        <h1><?php echo $this->__('Send for Approval') ?></h1>
    </div>

    <div class="form-wrap">
            <p><?php echo $this->__('Do you want to send the design <b>"%s"</b> for approval ?', $design->getDesignname()) ?></p>
        </div>

        <div class="block-buttons">
            <button type="button" class="button btn-send">
                <span><?php echo $this->__('Send') ?></span>
            </button>
            <button type="button" class="button btn-cancel">
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {
        initAction();
    });

    function initAction() {
        jQuery("#modal-approve").find('.btn-send').unbind('click');
        jQuery("#modal-approve").find('.btn-send').bind('click', function () {
            btnSend();
        });
        jQuery("#modal-approve").find('.btn-cancel').unbind('click');
        jQuery("#modal-approve").find('.btn-cancel').bind('click', function () {
            cancelModal();
        });
    }

    function actionBtnSend() {
        jQuery('#loading-mask').show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/sendforapproval') ?>",
            dataType: 'json',
            data: {
                designId: <?php echo $design->getDesignId(); ?>
            },
            success: function (result) {
                if (result.success == 2) {
                    alert(result.message);
                    location.href = '<?php echo $this->getUrl('designcollaboration') ?>';
                } else {
                    if (result.success == 0) {
                        alert(result.message);
                    }
                    jQuery('#loading-mask').hide();
                    fancyboxProxy.close();
                    location.reload();
                }
            }
        });
    }

    function cancelModal() {
        fancyboxProxy.close();
    }
    function btnSend() {
        actionBtnSend();
    }

</script>