<?php
$sharingUser = $this->getSharingUser($design->getDesignId());
$currentEmail = $this->getCurrentEmailUser();
?>

<div id="sharing-settings">
    <div class="page-title">
        <h1><?php echo $this->__('Sharing settings') ?></h1>
    </div>

    <div class="form-wrap">
        <h2 class="legend"><?php echo $this->__('Who Has Access') ?></h2>
        <div class="sharing-block">
            <?php foreach ($sharingUser as $user): ?>
                <?php if ($user['is_owner']): ?>
                    <div class="item" data-is-current="<?php echo ($currentEmail == $user['email']) ? 1 : 0; ?>" >
                        <div class="name"><?php echo $user['firstname']." ".$user['lastname']." - ".$user['email']; ?> (owner)</div>
                    </div>
                <?php else: ?>
                    <div class="item item-<?php echo $user['sharing_id'] ?>"
                         data-sharing-id="<?php echo $user['sharing_id'] ?>"
                         data-is-current="<?php echo ($currentEmail == $user['email']) ? 1 : 0; ?>" >
                        <div class="name"><?php echo $user['firstname']." ".$user['lastname']." - ".$user['email']; ?></div>
                        <span class="btn-remove btn-remove-sharing" ></span>
                    </div>
                <?php endif ?>
            <?php endforeach; ?>
        </div>

        <div class="input-block">
            <h2 class="required"><?php echo $this->__('Invite people') ?><em>*</em></h2>
            <textarea class="style-textarea" id="input-sharing"
                      placeholder="<?php echo $this->__('Enter email addresses...') ?>"></textarea>
            <p><?php echo $this->__('Separate with a comma. (example1@email.com, example2@email.com)') ?></p>
            <p class="required"><?php echo $this->__('* Required Fields') ?></p>
        </div>
        <div class="save-msg"
             style="display: none;"><?php echo $this->__('You have made changes that you need to save.') ?></div>

        <div class="block-buttons">
            <button type="button" class="button btn-done" >
                <span><?php echo $this->__('Done') ?></span>
            </button>
            <button type="button" class="button btn-save-changes" style="display: none;" >
                <span><?php echo $this->__('Save Changes') ?></span>
            </button>
            <button type="button" class="button btn-send" style="display: none;" >
                <span><?php echo $this->__('Send') ?></span>
            </button>
            <button type="button" class="button btn-cancel-send" style="display: none;" >
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
            <button type="button" class="button btn-cancel-save" style="display: none;" >
                <span><?php echo $this->__('Cancel') ?></span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function () {

        var isLogin = "<?php echo Mage::getSingleton('customer/session')->isLoggedIn(); ?>";
        if (isLogin == '') location.href = '<?php echo Mage::getUrl('customer/account/login') ?>';

        initAction();

        jQuery("#sharing-settings").find('#input-sharing').keyup(function () {
            if (jQuery("#sharing-settings").find('#input-sharing').val() == '') {
                btnDone(true);
                btnSend(false);
                btnCancelSend(false);
                btnCancelSave(false);
                btnSaveChanges(false);
            } else {
                btnSend(true);
                btnCancelSend(true);
                btnCancelSave(false);
                btnDone(false);
                btnSaveChanges(false);
            }
        });
    });

    function initAction() {
        jQuery("#sharing-settings").find('.btn-done').unbind('click');
        jQuery("#sharing-settings").find('.btn-done').bind('click', function(){
            closeModal();
        });
        jQuery("#sharing-settings").find('.btn-save-changes').unbind('click');
        jQuery("#sharing-settings").find('.btn-save-changes').bind('click', function(){
            actionBtnSaveChanges();
        });
        jQuery("#sharing-settings").find('.btn-send').unbind('click');
        jQuery("#sharing-settings").find('.btn-send').bind('click', function(){
            actionBtnSend();
        });
        jQuery("#sharing-settings").find('.btn-cancel-send').unbind('click');
        jQuery("#sharing-settings").find('.btn-cancel-send').bind('click', function(){
            actionBtnCancelSend();
        });
        jQuery("#sharing-settings").find('.btn-cancel-save').unbind('click');
        jQuery("#sharing-settings").find('.btn-cancel-save').bind('click', function(){
            actionBtnCancelSave();
        });
        jQuery("#sharing-settings").find('.btn-remove-sharing').unbind('click');
        jQuery("#sharing-settings").find('.btn-remove-sharing').bind('click', function(){
            actionRemoved(this);
        });
    }

    function actionBtnSend() {
        jQuery('#loading-mask').show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/savesharing') ?>",
            dataType : 'json',
            data: {
                emails: jQuery("#sharing-settings").find('#input-sharing').val(),
                designId: <?php echo $design->getDesignId(); ?>
            },
            success: function(result) {
                if (result.success == 2) {
                    location.reload();
                } else {
                    if (result.success == 1) {
                        var isCurrent = 0;
                        jQuery.each(result.customers, function (item, value) {
                            if (value.email == '<?php echo $currentEmail; ?>') {
                                isCurrent = 1;
                            }
                            jQuery("#sharing-settings").find(".sharing-block").append(
                                '<div class="item item-' + value.sharingId + '" data-sharing-id="' + value.sharingId + '" data-is-current="' + isCurrent + '" >' +
                                '<div class="name">' + value.name + ' - ' + value.email + '</div>' +
                                '<span class="btn-remove btn-remove-sharing"></span>' +
                                '</div>');
                        });
                        jQuery("#sharing-settings").find('#input-sharing').val('');
                        initAction();
                        btnDone(true);
                        btnSend(false);
                        btnCancelSend(false);
                        btnCancelSave(false);
                        btnSaveChanges(false);
                        isRefreshDesignPage = true;
                    } else {
                        alert(result.message);
                    }
                    jQuery('#loading-mask').hide();
                }

            }
        });
    }

    function actionBtnSaveChanges() {
        var remove = [];

        jQuery("#sharing-settings").find('.sharing-block').find('.item').each(function () {
            if (jQuery(this).hasClass("color-silver")) {
                remove.push(jQuery(this).data('sharingId'));
            }
        });

        jQuery('#loading-mask').show();
        jQuery.ajax({
            url: "<?php echo $this->getUrl('designcollaboration/ajax/removesharing') ?>",
            dataType : 'json',
            data: {
                remove: remove
            },
            success: function(result) {
                if (result.success == 1) {
                    jQuery.each(result.removedId, function () {
                        jQuery("#sharing-settings").find('.sharing-block').find('.item-' + this).remove();
                    });
                    jQuery("#sharing-settings").find(".input-block").show();
                    jQuery("#sharing-settings").find(".save-msg").hide();
                    btnDone(true);
                    btnSaveChanges(false);
                    btnCancelSend(false);
                    btnCancelSave(false);
                    btnSend(false);

                    var refreshToDesignPage = true;
                    jQuery("#sharing-settings").find('.sharing-block').find('.item').each(function () {
                        if (jQuery(this).data('isCurrent') == 1) {
                            refreshToDesignPage = false;
                        }
                    });
                    isRefreshToDesignPage = refreshToDesignPage ? true : false;
                    isRefreshDesignPage = true;
                } else {
                    alert(result.message);
                }
                jQuery('#loading-mask').hide();
            }
        });
    }

    function actionRemoved(object) {
        jQuery(object).parent().addClass('color-silver');
        jQuery(object).hide();
        btnDone(false);
        btnSend(false);
        btnSaveChanges(true);
        btnCancelSend(false);
        btnCancelSave(true);
        jQuery("#sharing-settings").find(".input-block").hide();
        jQuery("#sharing-settings").find(".save-msg").show();
    }

    function actionBtnCancelSend() {
        jQuery("#sharing-settings").find('#input-sharing').val('');
        btnDone(true);
        btnSend(false);
        btnSaveChanges(false);
        btnCancelSend(false);
        btnCancelSave(false);
    }

    function actionBtnCancelSave() {
        jQuery("#sharing-settings").find('.sharing-block').find('.item').each(function () {
            if (jQuery("#sharing-settings").find(this).hasClass("color-silver")) {
                jQuery("#sharing-settings").find(this).removeClass('color-silver');
                jQuery("#sharing-settings").find(this).find('span').show();
            }
        });
        jQuery("#sharing-settings").find('#input-sharing').val('');
        jQuery("#sharing-settings").find(".input-block").show();
        jQuery("#sharing-settings").find(".save-msg").hide();
        btnDone(true);
        btnSend(false);
        btnSaveChanges(false);
        btnCancelSend(false);
        btnCancelSave(false);
    }

    function closeModal() {
        fancyboxProxy.close();
    }

    function btnDone(show) {
        jQuery("#sharing-settings").find('.btn-done').toggle(show);
    }
    function btnSend(show) {
        jQuery("#sharing-settings").find('.btn-send').toggle(show);
    }
    function btnSaveChanges(show) {
        jQuery("#sharing-settings").find('.btn-save-changes').toggle(show);
    }
    function btnCancelSend(show) {
        jQuery("#sharing-settings").find('.btn-cancel-send').toggle(show);
    }
    function btnCancelSave(show) {
        jQuery("#sharing-settings").find('.btn-cancel-save').toggle(show);
    }

</script>