ul.profiles-list {
}

ul.profiles-list.hidden {
    display: none;
}

ul.profiles-list a {
    padding-left: 15px;
}

.fieldset-wide .form-list td.value input.input-text {
    width: 220px !important
}

ul.profiles-list li {
    display: block;
}

ul.profiles-list > li:nth-child(even) {
    background-color: #FAFAFA;
    border-bottom: 1px solid #BEBEBE;
    padding: 8px 5px;
}

ul.profiles-list > li:nth-child(odd) {
    background-color: #E7EFEF;
    border-bottom: 1px solid #BEBEBE;
    padding: 8px 5px;
}

ul.profiles-list > li:nth-child(even):hover {
    background-color: #D8E6E6;
}

ul.profiles-list > li:nth-child(odd):hover {
    background-color: #D8E6E6;
}

ul.profiles-list li {
    display: block;
}

ul.documentWrapper {
    cursor: pointer;
}

ul.documentWrapper li {
    display: inline-block;
}

ul.documentWrapper a {
    text-decoration: none;
}

.magento_content {
    padding-top: 15px;
}

.profiles_popup_container {
    width: 370px !important;
}

.input-text.profile-result {
    width: 220px !important;
}