<?php
?>
<div class="checkout-clear-both"></div>
<form id="co-shipping-form">
    <ul class="form-list">
        <?php if ($this->customerHasAddresses()): ?>
            <li class="fields" id="shipping-address-select">
                <label for="shipping-address-select">
                    <?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?>
                </label>
                <div class="input-box">
                    <?php echo $this->getAddressesHtmlSelect('shipping') ?>
                </div>
            </li>
        <?php endif ?>
        <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
            <fieldset>
                <input
                    type="hidden"
                    name="shipping[address_id]"
                    value="<?php echo $this->getAddress()->getId() ?>"
                    id="shipping:address_id" />
                <ul>
                    <li class="fields"><?php
                        echo $this->getLayout()
                            ->createBlock('customer/widget_name')
                            ->setObject($this->getAddress())
                            ->setFieldIdFormat('shipping:%s')
                            ->setFieldNameFormat('shipping[%s]')
                            ->setFieldParams('onchange="shipping.setSameAsBilling(false)"')
                            ->toHtml()
                        ?></li>
                    <li class="fields">
                        <div class="fields">
                            <label for="shipping:company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input
                                    type="text"
                                    id="shipping:company"
                                    name="shipping[company]"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>"
                                    title="<?php echo $this->__('Company') ?>"
                                    class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"
                                    onchange="shipping.setSameAsBilling(false);" />
                            </div>
                        </div>
                    </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="fields">
                        <div class="one-field">
                            <div class="field">
                                <label for="shipping:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                                <div class="input-box">
                                    <input
                                        type="text"
                                        title="<?php echo $this->__('Street Address') ?>"
                                        name="shipping[street][]"
                                        id="shipping:street1"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>"
                                        class="input-text <?php echo $_streetValidationClass ?>"
                                        onchange="shipping.setSameAsBilling(false);" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php if ($this->helper('customer/address')->isVatAttributeVisible()) : ?>
                        <li class="fields">
                            <label for="billing:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                            <div class="input-box">
                                <input
                                    type="text"
                                    id="shipping:vat_id"
                                    name="shipping[vat_id]"
                                    value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>"
                                    title="<?php echo $this->__('VAT Number'); ?>"
                                    class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('vat_id') ?>" />
                            </div>
                        </li>
                    <?php endif; ?>
                    <li class="fields">
                        <div class="two-fields">
                            <div class="field">
                                <label for="shipping:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                                <div class="input-box">
                                    <input
                                        type="text"
                                        title="<?php echo $this->__('City') ?>"
                                        name="shipping[city]"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                        id="shipping:city" onchange="shipping.setSameAsBilling(false);" />
                                </div>
                            </div>
                            <div class="field right-box">
                                <label for="shipping:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                                <div class="input-box">
                                    <input
                                        type="text"
                                        title="<?php echo $this->__('Zip/Postal Code') ?>"
                                        name="shipping[postcode]"
                                        id="shipping:postcode"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>"
                                        class="input-text validate-zip-international <?php
                                        echo $this->helper('customer/address')->getAttributeValidationClass('postcode')
                                        ?>"
                                        onchange="shipping.setSameAsBilling(false);" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="two-fields">
                            <div class="field">
                                <label for="shipping:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <div class="input-box">
                                    <input
                                        type="text"
                                        name="shipping[telephone]"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>"
                                        title="<?php echo $this->__('Telephone') ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"
                                        id="shipping:telephone"
                                        onchange="shipping.setSameAsBilling(false);" />
                                </div>
                            </div>
                            <div class="field right-box">
                                <label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
                                <div class="input-box">
                                    <input
                                        type="text"
                                        name="shipping[fax]"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>"
                                        title="<?php echo $this->__('Fax') ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('fax') ?>"
                                        id="shipping:fax"
                                        onchange="shipping.setSameAsBilling(false);" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="one-field">
                            <div class="field">
                                <label for="shipping:region" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                                <div class="input-box">
                                    <select
                                        id="shipping:region_id"
                                        name="shipping[region_id]"
                                        title="<?php echo $this->__('State/Province') ?>"
                                        class="validate-select"
                                        style="display:none;">
                                        <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                    </select>
                                    <script type="text/javascript">
                                        //<![CDATA[
                                        $('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                        //]]>
                                    </script>
                                    <input
                                        type="text"
                                        id="shipping:region"
                                        name="shipping[region]"
                                        value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"
                                        title="<?php echo $this->__('State/Province') ?>"
                                        class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>"
                                        />
                                </div>
                            </div>
                        </div>
                    </li>
                    <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                        <li class="control">
                            <input
                                type="checkbox"
                                name="shipping[save_in_address_book]"
                                value="1"
                                title="<?php echo $this->__('Save in address book') ?>"
                                id="shipping:save_in_address_book"
                                onchange="shipping.setSameAsBilling(false);"
                                <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?>
                                class="checkbox" />
                            <label for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label></li>
                    <?php else:?>
                        <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
                    <?php endif;?>
                </ul>
            </fieldset>
        </li>
        <li class="control">
            <input
                type="checkbox"
                name="shipping[same_as_billing]"
                id="shipping:same_as_billing"
                value="1"<?php if($this->getAddress()->getSameAsBilling()): ?>
                checked="checked"<?php endif; ?>
                title="<?php echo $this->__('Use same address as billing address') ?>"
                onclick="shipping.setSameAsBilling(this.checked)"
                class="checkbox" />
            <label for="shipping:same_as_billing"><?php echo $this->__('Use same address as billing address') ?></label>
        </li>
    </ul>
    <span id="shipping-please-wait" class="please-wait" style="display:none;">
        <img
            src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>"
            alt="<?php echo $this->__('Loading next step...') ?>"
            title="<?php echo $this->__('Loading next step...') ?>"
            class="v-middle" /> <?php echo $this->__('Loading next step...') ?>
    </span>
   <div id="shipping-address-same-as-billing">
        <!-- <span>Ship to your Billing Address.</span> -->
    </div>

</form>
<script type="text/javascript">
    //<![CDATA[
    var shippingForm = new VarienForm('co-shipping-form');
    shippingForm.extraChildParams = ' onchange="shipping.setSameAsBilling(false);"';
    shippingForm.setElementsRelation('shipping:country_id', 'shipping:region', '<?php echo $this->getUrl('directory/json/childRegion') ?>', '<?php echo $this->__('Select State/Province...') ?>');
    $('shipping-address-select');
    //&& shipping.newAddress(!$('shipping-address-select').value);

    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
     //]]>
</script>
